<template>
     <div class="row">
          <div class="col-sm-3">
               <div class="form-group">
                    <label style="margin-top:-20px;">Buscar</label>
                    <input style="margin-top:45px;" type="text" class="form-control" v-model="form.buscar">
               </div>
          </div>

          <div class="col-sm-3" :v-if="poder_editar()">
               <div class="form-group">
                    <label>Cliente</label>
                    <select class="form-control" v-model="form.empresa" >
                         <option value="" selected>Todas</option>
                         <option v-for="empresa in prop_catalogos.empresas" :value="empresa.id" >{{ empresa.username }} - {{ empresa.nombre }} </option>
                    </select>
               </div>
          </div>

          <div class="col-sm-3">
               <div class="form-group">
                    <label>Activo</label>
                    <select class="form-control" v-model="form.activo" >
                         <option value="" selected>Todos</option>
                         <option :value="1">Si</option>
                         <option :value="2">No</option>
                    </select>
               </div>
          </div>


          <div class="col-sm-3">
               <div class="form-group">
                    <label class="invisible">cancelar</label>
                    <button class="btn btn-default btn-block" @click.prevent="limpiar_filtros">Cancelar</button>
               </div>
          </div>
     </div>
</template>

<script>
import { tablaFiltros } from '../../../core/FiltrosTabla';

export default {
     name: 'filtros-tabla-alumnos',
     mixins: [ tablaFiltros ],
     props: {
          prop_catalogos: {
               type: Object,
               required: true
          },
          filtro: {
               type: Object,
               required: true
          }
     },
     data: function () {
          return {
               controller: base_url + '/alumnos/get_alumnos',
               form: {
                    activo: '',
                    rol_id: '',
                    fecha: '',
                    fecha: '',
                    buscar: '',
                    empresa: '',
                    range: []
               }
          }
     },
     methods: {
          limpiar_buscar: function () {
               this.form.buscar = '';
          },
          poder_editar: function() {
               if (_rol_id == 2) {
                    return false;
               }else if (_rol_id == 3) {
                    return false;
               }else{
                    return true;
               }
          }
     },
     created() {
          console.log(this.filtro);
          this.form.activo = this.filtro.activo;
          this.form.rol_id = this.filtro.rol_id;
          if (this.filtro.buscar !== "" ) {
               this.form.buscar = this.filtro.buscar;
          }
     },
}
</script>
