<template>
     <form>
          <div class="row">
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Nombre *</label>
                         <input type="text" class="form-control" v-model="form.nombre" @keydown="formHelper.errores.clear('nombre')">
                         <small class="help-block m-b-none text-danger"  v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Apellido paterno *</label>
                         <input type="text" class="form-control" v-model="form.apellido_paterno" @keydown="formHelper.errores.clear('apellido_paterno')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('apellido_paterno')" v-show="formHelper.errores.has('apellido_paterno')"></small>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group text-left" >
                         <label>Estatus :</label>
                         <toggle-button v-model="form.estatus" :value="form.estatus"   :labels="{checked: 'On', unchecked: 'Off'}"/>
                    </div>
               </div>


               <div class="col-md-4">
                    <div class="form-group">
                         <label>Apellidos materno </label>
                         <input type="text" class="form-control" v-model="form.apellidos_materno" @keydown="formHelper.errores.clear('apellidos_materno')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('apellidos_materno')" v-show="formHelper.errores.has('apellidos_materno')"></small>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Curp *</label>
                         <input type="text" class="form-control" v-model="form.curp" @keydown="formHelper.errores.clear('curp')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('curp')" v-show="formHelper.errores.has('curp')"></small>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Profesión </label>
                         <input type="text" class="form-control" v-model="form.profesion" @keydown="formHelper.errores.clear('profesion')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('profesion')" v-show="formHelper.errores.has('profesion')"></small>
                    </div>
               </div>
               <!-- <div class="col-md-4">
                    <div class="form-group">
                         <label>Empresa </label>
                         <input type="text" class="form-control" v-model="form.empresa" @keydown="formHelper.errores.clear('empresa')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('empresa')" v-show="formHelper.errores.has('apellidos_materno')"></small>
                    </div>
               </div> -->
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Sucursal </label>
                         <input type="text" class="form-control" v-model="form.sucursal" @keydown="formHelper.errores.clear('sucursal')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('sucursal')" v-show="formHelper.errores.has('sucursal')"></small>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Departamento </label>
                         <input type="text" class="form-control" v-model="form.departamento" @keydown="formHelper.errores.clear('departamento')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('departamento')" v-show="formHelper.errores.has('departamento')"></small>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                         <label>Puesto </label>
                         <input type="text" class="form-control" v-model="form.puesto" @keydown="formHelper.errores.clear('puesto')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('puesto')" v-show="formHelper.errores.has('puesto')"></small>
                    </div>
               </div>

               <div class="col-md-4">
                    <div class="form-group">
                         <label>Correo</label>
                         <input type="text" class="form-control" :readonly="form.id != '' " v-model="form.correo" @keydown="formHelper.errores.clear('correo')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('correo')" v-show="formHelper.errores.has('correo')"></small>
                    </div>
               </div>

               <div class="col-md-4">
                    <div class="form-group">
                         <label>Celular</label>
                         <input type="text" class="form-control" v-model="form.celular" @keydown="formHelper.errores.clear('celular')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('celular')" v-show="formHelper.errores.has('celular')"></small>
                    </div>
               </div>


               <div class="col-md-4" v-if="ver_botones()">
                    <div class="form-group">
                         <label>Empresa cliente</label>
                         <select class="form-control"v-model="form.cliente_id" @change="formHelper.errores.clear('cliente_id')">
                              <option v-for="cliente in this.clientes" :value="cliente.id"> {{ cliente.username }}</option>
                         </select>
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('cliente_id')" v-show="formHelper.errores.has('cliente_id')"></small>
                    </div>
               </div>


               <div class="col-md-4" style="margin-top: 8px;">
                    <div class="input-group">
                         <input :type="type_pass" class="form-control" placeholder="Password"  v-model="form.password" @keydown="formHelper.errores.clear('password')">
                         <div class="input-group-prepend">
                              <span class="input-group-text btn-info btn-link"  @click.prevent="type_change()">
                                   <i :class="[type_pass == 'password' ? 'fa fa-eye' : 'fa fa-eye-slash' ]" ></i>
                              </span>
                         </div>
                    </div>
                    <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('password')" v-show="formHelper.errores.has('password')"></small>
               </div>

               <div class="col-md-4">
                    <div class="form-group">
                         <label>Confirmar password</label>
                         <input type="password" class="form-control" v-model="form.confirm_password" @keydown="formHelper.errores.clear('confirm_password')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('confirm_password')" v-show="formHelper.errores.has('confirm_password')"></small>
                    </div>
               </div>
               <div v-if="form.id" class="col-md-12">
                    <div class="row">


                    <div class="col-md-12">
                         <hr>
                    </div>
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-4" v-for="input in form.inputs" :key="input">
                         <div class="input-group">
                              <div class="input-group-prepend">
                                   <span class="input-group-text btn-danger btn-link"  @click.prevent="eliminar_input(input.id)">
                                        <i class="fa fa-trash" ></i>
                                   </span>
                              </div>
                              <div class="form-group w-90">
                                   <label>{{ input.titulo }}</label>
                                   <input type="text" class="form-control" v-model="input.valor" >
                              </div>
                         </div>

                    </div>
                    <div class="col-md-12">
                         <hr>
                    </div>
               </div>
     </div>
          </div>
          <div class="row">
               <div class="col-md-12 text-right">
                    <button v-if="form.id" type="button" name="button" class="btn btn-right btn-success float-left" data-toggle="modal" data-target="#modal_crear_input">Crear input</button>
                    <a @click.prevent="regresar()"  class="btn btn-default">Cancelar<div class="ripple-container"></div></a>
                    <button type="button" class="btn btn-primary"  @click.prevent="enviar()">Guardar<div class="ripple-container"></div></button>
               </div>
          </div>

     </form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { ToggleButton } from 'vue-js-toggle-button'
import Catalogos from '../../../core/catalogos.js'


export default {
     name: 'formulario-alumnos',
     components: {
          ToggleButton
     },
     props: ['informacion', 'clientes'],
     data: function () {
          return {
               form: {
                    id: this.informacion.id,
                    nombre: this.informacion.nombre,
                    estatus: this.informacion.estatus == 1 ? true : false ,
                    apellido_paterno: this.informacion.apellido_paterno,
                    apellidos_materno: this.informacion.apellidos_materno,
                    correo: this.informacion.correo,
                    curp: this.informacion.curp,
                    profesion: this.informacion.profesion,
                    sucursal: this.informacion.sucursal,
                    departamento: this.informacion.departamento,
                    celular: this.informacion.celular,
                    puesto: this.informacion.puesto,
                    password: this.informacion.txt_pas,
                    confirm_password: this.informacion.txt_pas,
                    inputs:  this.informacion.inputs,
                    empresa:  this.informacion.empresa,
                    cliente_id:  this.informacion.cliente_id,
               },
               catalogos: new Catalogos,
               type_pass: 'password',
               formHelper: new FormHelper(),
          }
     },
     methods: {
          regresar: function() {
               window.location.href = base_url+'alumnos';
          },
          filteredItems: function () {
               return this.items.slice(15, 90)
          },
          ver_botones: function() {
               if (_rol_id == 2) {
                    return false;
               }else if (_rol_id == 3) {
                    return false;
               }else{
                    return true;
               }
          },
          type_change: function() {
               if(this.type_pass == 'password'){
                    this.type_pass = 'text';
               }else{
                    this.type_pass = 'password';

               }
          },
          eliminar_input: function(id = false) {
               Swal.fire({
                    title: 'Eliminar input',
                    text: "¿ desea eliminar el input ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    if(result.value == true){
                         $.ajax({
                              url: base_url + '/alumnos/delete_input/'+id,
                              type: 'GET',
                              dataType: 'json',
                              beforeSend: function () {

                              }.bind(this),
                              success: function (respuesta) {
                                   this.$swal({
                                        title: '',
                                        type: 'success',
                                        text: respuesta.mensaje,
                                   }).then(function() {
                                        location.reload();
                                   });
                              }.bind(this),
                              error: function (xhr, status) {
                                   toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                              }.bind(this),
                              complete: function () {
                              }.bind(this)
                         });
                    }
               })
          },
          enviar: function () {
               $.ajax({
                    url: base_url + '/alumnos/insertar',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         console.log(respuesta);
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              swal('success',respuesta.mensaje)
                              .then((value) => {
                                   window.location.replace("../", '', 'success');
                              });
                              //                            window.location.replace("/admin/usuarios");
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          }
     },
     created(){
          console.log(_rol_id);
          console.log(_empresa_id);
          if (_rol_id == '2') {
               this.form.cliente_id = _usuario_id;
          }
          if (_rol_id == '3') {
                    console.log('paso');
               this.form.cliente_id = _empresa_id;
          }
          this.catalogos.get_paises();
     },
}
</script>

<style>
.ve-design{
     min-height: 250px;
}
.w-90{
     width: 90%;
}
</style>
