<template>
     <div class="row">
          <div class="col-md-12" v-for="(curso, index) in this.cursos" :key="index" >
               <switch-curso :curso=curso :alumno=alumno_id  ></switch-curso>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import SwitchCurso from '../../../components/admin/alumnos/SwitchCurso.vue';


export default {
     name: 'formulario-cursos-inscritos',
     components: {
          SwitchCurso
     },
     props: ['en_curso', 'alumno_id'],
     data: function () {
          return {
               cursos:[],
               formHelper: new FormHelper(),
          }
     },
     methods: {
          cargar_cursos: function(){
               $.ajax({
                    url: base_url +'/cursos/get_all_cursos',
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         this.cursos = response;
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });
          }
     },
     created: function () {
          this.cargar_cursos();
          Event.$on('recargar_inscripciones', () => {
               this.cargar_cursos();
          });
     }
}
</script>

<style>
.pull-left{
     text-align: left !important;
}


</style>
