<template>
     <div class="row">
          <div class="col-md-12">
               <button type="button" class="btn btn-warning pull-right" @click.prevent="editar_profesor()"><i class="fa fa-plus"></i>   Nuevo profesor</button>
          </div>
          <div class="clearfix"></div>
          <div class="d-flex col-md-4" style="" v-for="(profesor, index) in this.profesores" :key="index">
               <div class="v-card--plan mx-auto pt-3 pb-4 px-2 text-center v-card v-sheet theme--light" style="max-width: 100%; border: 2px solid #ddd; border-radius: 5px;">
                    <div class="body-2 text-uppercase grey--text">{{ profesor.nombre }}</div>
                    <div class="v-avatar" style="height: 130px; min-width: 130px; width: 130px; margin:0 auto;">
                         <img :src="link_img(profesor.foto)" class="img-fluid" alt="...">
                    </div>
                    <div class="v-card__text body-1 font-weight-light pa-1">{{ profesor.descripcion }}</div>
                    <button type="button" class="btn btn-sm  btn-success " @click.prevent="editar_profesor(profesor.id)"><i class="fa fa-plus"></i>   Editar <div class="ripple-container"></div></button>


                    <button type="button" class="btn btn-sm btn-danger " @click.prevent="eliminar_profesor(profesor.id)"><i class="fa fa-plus"></i>   Eliminar</button>

               </div>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'

export default {
     name: 'lista-input',
     props: ['alumno_id'],
     data: function () {
          return {
               profesores: [],
               formHelper: new FormHelper()
          }
     },
     methods: {
          editar_profesor: function($id = false){
     console.log($id);
               Event.$emit('editar_profesor', $id);
          },
          cargar_lista: function() {

               let loader = this.$loading.show({
                    color: '#529AD5',
                    canCancel: false,
                    loader: 'spinner',
                    width: 120,
                    height: 120,
                    backgroundColor: '#ffffff',
                    opacity: 0.5,
                    zIndex: 1300,
               });

               $.ajax({
                    url: base_url +'/profesores/get_profesor',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                         cursoId: this.cursoid,
                    },
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         this.profesores = response;
                         loader.hide()
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });
          },
          link_img: function(image) {
               return  image ? dir_archivos+'/profesores/'+image : 'https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg' ;
          },
          eliminar_profesor: function(profesor_id) {
               this.$swal({
                    title: 'Eliminar profesor',
                    text: "¿ desea eliminar al profesor ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    console.log(result);
                    if(result.value == true){
                         $.ajax({
                              url: base_url +'/profesores/eliminar_profesor',
                              type: 'POST',
                              dataType: 'json',
                              data: {
                                   profesor_id: profesor_id,
                              },
                              beforeSend: function () {
                                   console.log('buscando...');
                              }.bind(this),
                              success: function (respuesta) {
                                   this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                                   this.formHelper.handler_errores(respuesta.errores);
                                   if(!respuesta.error){
                                        this.cargar_lista();
                                   }
                              }.bind(this),
                              error: function (xhr, status) {
                                   console.log('Error en la solicitud');
                              },
                              complete: function () {
                                   console.log('busqueda finalizada');
                              }.bind(this)
                         })   ;
                    }
               });
          }
     },
     created: function () {
          this.cargar_lista();
          Event.$on('recargar_profesores', () => {
               this.cargar_lista();
          });
     }
}
</script>
<style >
</style>
