<template>
     <div class="form-group pull-left col-12 bor" >
          <label>{{ this.curso.nombre }}</label><br>
          <label style="text-align:text-justify;" v-html="this.curso.descripcion"> </label><br>
          <toggle-button
               :value="inscrito"
               @change="cambiar()"
               :sync="true"
               :labels="{checked: 'On', unchecked: 'Off'}"
          />
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { ToggleButton } from 'vue-js-toggle-button'


export default {
     name: 'SwitchCurso',
     components: {
          ToggleButton
     },
     props: ['curso', 'alumno'],
     data: function () {
          return {
               inscrito: false,
               ant: false,
               formHelper: new FormHelper(),
          }
     },
     methods: {
          cambiar: function() {

               $.ajax({
                   url: base_url +'/alumnos/inscribir/',
                   type: 'POST',
                   dataType: 'json',
                   data: {
                        'curso_id': this.curso.id,
                        'alumno_id': this.alumno
                   },
                   beforeSend: function () {

                   }.bind(this),
                   success: function (respuesta) {
                        this.$swal({
                             title: '',
                             type: 'success',
                             text: respuesta.mensaje,
                        }).then(function() {
                                 Event.$emit('recargar_inscripciones');
                         });
                   }.bind(this),
                   error: function (xhr, status) {
                       toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                   }.bind(this),
                   complete: function () {
                   }.bind(this)
               });


          },
          cargar : function() {
               $.ajax({
                    url: base_url +'/alumnos/inscrito_en_curso',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                         'curso_id': this.curso.id,
                         'alumno_id': this.alumno
                    },
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         if (response) {
                              this.inscrito = true;
                              this.ant = true;
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });

          }
     },
     created: function () {
          this.cargar();
     }

}
</script>

<style>
.pull-left{
     text-align: left !important;
}
.bor{
     border: 1px solid #ddd;
     padding: 10px;
     border-radius: 4px;
}

</style>
