<template>
     <tabla-cascaron :total_columns="6">
          <template slot="theader">
               <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Activo</th>
                    <th>Empresa</th>
                    <th class="text-center"><i class="fa fa-cogs"></i></th>
               </tr>
          </template>

          <template slot="tbody" slot-scope="{ data }">
               <tr v-for="(dato, index) in data">
                    <td >{{ dato.nombre }} {{ dato.apellido_paterno }}  {{ dato.apellidos_materno }}</td>
                    <td > {{ dato.correo }}  </td>
                    <td v-text="Number(dato.estatus) == 1 ? 'Si' : 'No' "></td>
                    <td> {{ dato.empresa }}</td>
                    <td class="td-actions text-center">
                         <button @click.prevent="form(dato.id)"  type="button" rel="tooltip" title="" class="btn btn-info btn-link btn-sm" data-original-title="حذف">
                              <i class="material-icons">edit</i>
                              <div class="ripple-container"></div>
                         </button>
                         <button @click.prevent="eliminar(dato.id)"  type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="حذف">
                              <i class="material-icons">delete</i>
                              <div class="ripple-container"></div>
                         </button>

                    </td>
               </tr>
          </template>
     </tabla-cascaron>
</template>

<script>
import TablaCascaron from '../../generales/TablaCascaron.vue';

export default {
     name: 'tabla-alumnos',
     components: { TablaCascaron },
     methods: {
          form: function(id = false) {
               window.location.href = base_url + "alumnos/form/"+id;
          },
          eliminar: function(id = false) {
               Swal.fire({
                    title: 'Eliminar participantes',
                    text: "¿ desea eliminar el participantes ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    if(result.value == true){
                         $.ajax({
                             url: base_url +'/alumnos/eliminar_alumno/'+id,
                             type: 'GET',
                             dataType: 'json',
                             beforeSend: function () {

                             }.bind(this),
                             success: function (respuesta) {
                                  this.$swal({
                                       title: '',
                                       type: 'success',
                                       text: respuesta.mensaje,
                                  }).then(function() {
                                       window.location.replace(base_url + "participantes");
                                   });
                             }.bind(this),
                             error: function (xhr, status) {
                                 toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                             }.bind(this),
                             complete: function () {
                             }.bind(this)
                         });
                    }
               })

          }
     }
}
</script>
