<template>
     <div class="card">
          <div class="card-header card-header-info">
               <h4 class="card-title">{{ header }}</h4>
               <button type="button" class="btn btn-sm btn-danger pull-right" v-if="this.form.curso_id != ''" @click.prevent="eliminar_examen(form.id)"><i class="fa fa-trash"></i>  Eliminar </button>
               <button type="button" class="btn btn-sm btn-success pull-right" v-if="this.form.curso_id != ''" @click.prevent="editar_examen(form.id)"><i class="fa fa-edit"></i>  Editar </button>
          </div>
          <div class="card-body">
               <div v-if="this.form.curso_id != ''">
                    <h2>{{ form.titulo }}</h2>
                    <p  v-html="form.descripcion" > </p>
                    <button type="button" class="btn btn-sm btn-default pull-right" @click.prevent="examen_modulo(form.id)"><i class="fa fa-check"></i>   Preguntas</button>
               </div>
               <div style=" text-align: center;" v-else>
                     <h4 v-if="this.type == 1"> El examen final es el instrumento que nos permite evaluar las habilidades y conocimientos adquiridos.</h4>
                     <h4 v-else > El examen diagnóstico es el instrumento que nos permite reconocerte las habilidades y conocimientos.</h4>
                     <br>
                     <button type="button" class="btn btn-sm btn-warning" @click.prevent="editar_examen()"><i class="fa fa-plus"></i> {{ header }} </button>
               </div>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'

export default {
     name: 'lista-modulos',
     props: ['cursoid', 'type'],
     data: function () {
          return {
               header: '',
               form : {
                    curso_id: '',
                    descripcion: '',
                    id: '',
                    porcentaje_aprobar: '',
                    titulo: ''
               },
               formHelper: new FormHelper(),
          }
     },
     methods: {
          examen_modulo: function(id) {
               Event.$emit('preguntas_examen_modulo', id);
          },
          editar_examen: function(id = false) {
               console.log('oooo');
               Event.$emit('editar_examen', {id:id, tipo: this.type});

          },
          examen: function() {

               $.ajax({
                    url: base_url +'/examen/get_examen',
                    data: {curso_id: this.cursoid, tipo:this.type},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                    }.bind(this),
                    success: function (respuesta) {
                         this.form.curso_id = respuesta.curso_id;
                         this.form.descripcion = respuesta.descripcion;
                         this.form.id = respuesta.id;
                         this.form.porcentaje_aprobar = respuesta.porcentaje_aprobar;
                         this.form.titulo = respuesta.titulo;
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                    }.bind(this)
               });
          },
          eliminar_examen: function(examen_id) {
               this.$swal({
                    title: 'Eliminar examen',
                    text: "¿ desea eliminar el examen ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    if(result.value == true){
                              $.ajax({
                                   url: base_url +'/examen/eliminar_examen',
                                   type: 'POST',
                                   dataType: 'json',
                                   data: {
                                        examen_id: examen_id,
                                   },
                                   beforeSend: function () {
                                        console.log('buscando...');
                                   }.bind(this),
                                   success: function (respuesta) {
                                        this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                                        this.formHelper.handler_errores(respuesta.errores);
                                        if(!respuesta.error){
                                             Event.$emit('recargar_examen');
                                        }

                                   }.bind(this),
                                   error: function (xhr, status) {
                                        console.log('Error en la solicitud');
                                   },
                                   complete: function () {
                                        console.log('busqueda finalizada');
                                   }.bind(this)
                              })   ;
                    }
               });
          }

     },
     created: function () {
          this.header =  this.type == 1 ? 'Evaluación final' : 'Evaluación diagnóstico',
          this.examen();
          Event.$on('recargar_examen', (examen_id) =>
          {
               this.examen();
          });
     }
}
</script>
<style >
</style>
