<template>
     <div class="filters-box">
          <div class="row">
               <div class="col-sm-9">
                    <div class="form-group">
                         <label style="margin-top:-20px;">Buscar</label>
                         <input style="margin-top:45px;" type="text" class="form-control" v-model="form.buscar" placeholder="Nombre curso">
                    </div>
               </div>
               <!-- <div class="col-sm-5">
                    <div class="form-group">
                         <label>Estatus</label>
                         <select class="form-control" v-model="form.activo">
                              <option value="" selected>Todos</option>
                              <option value="1">Activo</option>
                              <option value="0">Inactivo</option>
                              <option value="2">Moroso</option>
                         </select>
                    </div>
               </div> -->
               <div class="col-sm-3 pull-right">
                    <div class="form-group">
                         <label class="invisible">cancelar</label>
                         <button class="btn btn-default btn-block" @click.prevent="limpiar_filtros">Cancelar</button>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
import { tablaFiltros } from '../../../core/FiltrosTabla';

export default{
     name: 'filtros-tabla-cursos',
     mixins: [ tablaFiltros ],
     props: {
          filtros: {
               type: Object,
               required: true
          }
     },
     data: function () {
          return {
               controller: base_url+'/cursos/get_cursos',
               form: {
                    buscar: '',
                    // activo: '',
                    range: []
               }
          }
     },
     methods: {
          limpiar_buscar: function () {
               this.form.buscar = '';
          }
     },
     created() {
            this.form.buscar = '   ';
       }
}
</script>
