<!--
Formulario para las siguientes preguntas_model
* 3-Correlación de columnas
-->
<template>
     <form>
          <div class="row">
               <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="this.errores" style="width:100%; padding: 10px 0px 0px 10px;">
                    <span v-html="this.errores"></span>
                    <button type="button" class="close" @click.prevent="limpiar_error()">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>

               <div class="col-md-12">
                    <hr>
                    <br>
               </div>
               <div class="col-md-12">
                    <div class="form-group">
                         <label >Instrucciones</label>
                         <input type="text" class="form-control" v-model="preg_info.titulo" >
                    </div>
               </div>
               <div class="col-md-12">
                    <br>
               </div>
               <div class="col-md-12">
                    <table class="table table-bordered">
                         <thead class="thead-dark">
                              <tr>
                                   <th scope="col">Pregunta</th>
                                   <th scope="col">Respuesta</th>
                                   <th scope="col"> </th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr v-for="(pregunta, index) in preg_info.preguntas" >
                                   <td>
                                        <input type="text" v-model="pregunta.titulo" class="form-control" >
                                   </td>
                                   <td> <input type="text" v-model="pregunta.respuestas[0].opcion" class="form-control" > </td>
                                   <td>
                                        <button type="button" class="btn btn-danger btn-sm" @click.prevent="eliminar_preg(index)">
                                             <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                   </td>
                              </tr>
                              <tr v-if="preg_info.preguntas.length == 0" class="text-center">
                                   <td colspan="3">Sin preguntas</td>
                              </tr>
                         </tbody>

                    </table>

               </div>
               <div class="col-md-12">
                    <br>
               </div>

               <div class="col-md-12 text-right">
                    <button class="btn btn-warning float-right" @click.prevent="add()">Nueva pregunta</button>
                    <button class="btn btn-default" @click.prevent="cerra_modal_tres()">Regresar</button>
                    <button class="btn btn-info" @click.prevent="enviar()">Guardar</button>
               </div>
          </div>
     </form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'

export default {
     props: ['prop_examen_id', 'prop_id'],
     name: 'form-preguntas-tres',
     data: function () {
          return {
               preg_info: {
                    'titulo' : '',
                    'catalogo_preguntas' : 3,
                    'id' : this.prop_id,
                    'examen_id' : this.prop_examen_id,
                    preguntas: [],
               },
               errores: '',
               pregunta_id : '',
               examen_id : '',
               formHelper: new FormHelper()
          }
     },
     methods: {
          cerra_modal_tres: function(){
               $('#modal_preguntas_examen').modal('hide');
               $('#modal_examen').modal('show');
               $('#modal_examen').css('overflowY', 'auto');
          },
          add: function() {
               this.preg_info.preguntas.push({'pregunta': '', 'respuestas': [{ 'correcta': 1, 'opcion': '', 'id' : ''}] ,  'pregunta_id' : this.preg_info.id, 'id' : '' });
          },
          eliminar_preg: function(index) {
               // console.log(index);
               this.preg_info.preguntas.splice(index, 1);
          },
          limpiar_error: function() {
               this.errores = '';
          },
          enviar: function () {
               this.preg_info.id = this.prop_id;
               $.ajax({
                    url: base_url +'/preguntas/save_preguntas_completar',
                    data: this.$data.preg_info,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         console.log(respuesta.errores);
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.errores = respuesta.errores;
                         if(!respuesta.error){
                              Event.$emit('preguntas_examen_modulo', this.prop_examen_id);
                              this.cerra_modal_tres();
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_modulo_tres: function () {
               $.ajax({
                    url: base_url +'/preguntas/get_pregunta_id',
                    data:  {id: this.prop_id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                    }.bind(this),
                    success: function (respuesta) {
                         this.preg_info = respuesta.pregunta;
                         this.preg_info.catalogo_preguntas = 3;
                         this.preg_info.examen_id = this.prop_examen_id;
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {

                    }.bind(this)
               });
          },
     },
     created() {
          this.get_modulo_tres();
     },
     watch:{
            'prop_id'(){
               this.get_modulo_tres();
               this.errores = '';
            }
     }
}
</script>
<style>
</style>
