<template>

     <div class="modal fade" id="modal_materiales_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel" v-if="form.id">Editar material</h4>
                         <h4 class="modal-title" id="myModalLabel" v-else>Nuevo material</h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Nombre</label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.titulo">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Descripcion</label>
                                        <ckeditor  v-if="!poder_editar()" v-model="form.descripcion"></ckeditor>

                                        <!-- <Vueditor  v-if="!poder_editar()" ref="desc"></Vueditor> -->
                                        <div v-else class="col-md-12 dis_desc" v-html="form.descripcion">
                                        </div>
                                   </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-12">
                                   <div class="form-group text-center">
                                        <label>Archivo</label><br>
                                        <button v-if="!poder_editar()"  type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#Modaluploadmaterial">
                                             <i class="material-icons">add_circle_outline</i> Subir archivo
                                        </button><br>
                                        <video id="myVideomaterial" v-if="form.tipo_archivo == 'video'" style="width:100%"  controls>
                                             <source :src="link_img(form.archivo)" type="video/mp4" >
                                             </video>
                                             <embed :src="link_img(form.archivo)" v-if="form.tipo_archivo == 'pdf'" style="width: 100%;"  width= "400" height= "375">

                                             </div>
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label>Duración</label>
                                                  <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.duracion">
                                                  <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                             </div>
                                        </div>

                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label>Facilitador</label>
                                                  <ckeditor  v-if="!poder_editar()" v-model="form.doctores"></ckeditor>
                                                  <div v-else class="col-md-12 dis_desc" v-html="form.doctores">
                                                  </div>
                                             </div>
                                        </div>

                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label>objetivos</label>
                                                  <ckeditor  v-if="!poder_editar()" v-model="form.objetivos"></ckeditor>
                                                  <div v-else class="col-md-12 dis_desc" v-html="form.objetivos">
                                                  </div>
                                             </div>
                                        </div>

                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label>instrucciones</label>
                                                  <ckeditor  v-if="!poder_editar()" v-model="form.termino"></ckeditor>
                                                  <div v-else class="col-md-12 dis_desc" v-html="form.termino">
                                                  </div>
                                             </div>
                                        </div>

                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label>Referencias</label>
                                                  <ckeditor  v-if="!poder_editar()" v-model="form.referencias"></ckeditor>
                                                  <div v-else class="col-md-12 dis_desc" v-html="form.referencias">
                                                  </div>
                                             </div>
                                        </div>

                                        <div class="col-md-12 text-right">
                                             <button class="btn btn-default" @click.prevent="cerra_modal()">Regresar</button>
                                             <button class="btn btn-info"  v-if="!poder_editar()"  @click.prevent="enviar()">Guardar</button>
                                        </div>

                                   </div>
                              </div>
                         </div>
                    </div>
               </div>


          </form>
     </template>

     <script>
     import FormHelper from '../../../core/FormHelper.js'
     import { VueEditor } from "vue2-editor";
     //



     export default {
          name: 'formulario-material',
          components: {
               VueEditor
          },
          props: ['cursoid'],
          data: function () {
               return {
                    form: {
                         id : "",
                         curso_id : this.cursoid,
                         titulo : "",
                         seccion_id : "",
                         descripcion : "",
                         tipo_archivo : "video",
                         archivo : "",
                         contenido : "",
                         duracion : "",
                         doctores : "",
                         objetivos : "",
                         termino : "",
                         infografia : "",
                         referencias : "",
                    },
                    editor1Content: "<h1>Editor 1 Starting Content</h1>",
                    editor2Content: "<h1>Editor 2 Starting Content</h1>",
                    formHelper: new FormHelper(),
                    customToolbar: [
                         ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                         ['blockquote', 'code-block'],
                         [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                         [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                         [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                         [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                         [{ 'direction': 'rtl' }],                         // text direction
                         [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                         [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                         [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                         [{ 'font': [] }],
                         [{ align: 'center'}, { align:''}, { align:'right'}, { align:'justify'}],
                         ['link','clean' ]
                    ]
               }
          },
          methods: {
               poder_editar: function() {
                    if (_rol_id == 2) {
                         return true;
                    }else if (_rol_id == 3) {
                         return true;
                    }else{
                         return false;
                    }
               },
               cerra_modal: function(){
                    $('#modal_materiales_form').modal('hide');
               },
               log: function () {
                    console.log('function');
               },
               link_img: function(image) {

                    return dir_archivos+'video/'+image;
               },
               enviar: function () {
                    $.ajax({
                         url: base_url +'/cursos/save_material',
                         data: this.$data.form,
                         type: 'POST',
                         dataType: 'json',
                         beforeSend: function () {
                              this.formHelper.enviando = true;
                         }.bind(this),
                         success: function (respuesta) {
                              this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                              this.formHelper.handler_errores(respuesta.errores);
                              if(!respuesta.error){
                                   Event.$emit('recargar_modulos');
                                   $('#modal_materiales_form').modal('hide');
                              }
                         }.bind(this),
                         error: function (xhr, status) {
                              // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                         }.bind(this),
                         complete: function () {
                              this.formHelper.enviando = false;
                         }.bind(this)
                    });
               },
               get_modulo: function () {
                    $.ajax({
                         url: base_url +'/cursos/get_material_id',
                         data: {id: this.form.id},
                         type: 'POST',
                         dataType: 'json',
                         beforeSend: function () {
                              this.formHelper.enviando = true;
                         }.bind(this),
                         success: function (respuesta) {
                              console.log(respuesta);
                              console.log(respuesta.descripcion);
                              this.form.id = respuesta.id;
                              this.form.titulo = respuesta.titulo;
                              this.form.descripcion = respuesta.descripcion;
                              this.form.tipo_archivo = respuesta.tipo_archivo;
                              this.form.archivo = respuesta.archivo;
                              this.form.contenido = respuesta.contenido;
                              this.form.duracion = respuesta.duracion;
                              this.form.doctores =  respuesta.doctores.length == 0 ? ' ' : respuesta.doctores;
                              this.form.objetivos = respuesta.objetivos.length == 0 ? ' ' : respuesta.objetivos;
                              this.form.termino = respuesta.termino.length == 0 ? ' ' : respuesta.termino;
                              this.form.infografia = respuesta.infografia.length == 0 ? ' ' : respuesta.infografia;
                              this.form.referencias = respuesta.referencias == "" ? ' ' : respuesta.referencias;


                              document.getElementById("myVideomaterial").load();
                              this.$refs.desc.setContent(respuesta.descripcion);
                         }.bind(this),
                         error: function (xhr, status) {
                              // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                         }.bind(this),
                         complete: function () {
                              this.formHelper.enviando = false;
                         }.bind(this)
                    });
               },
          },
          created: function () {
               Event.$on('modal_materiales', (id, modulo_id) =>
               {
                    this.form.id = id;
                    this.form.seccion_id = modulo_id;
                    this.get_modulo();
                    $('#modal_materiales_form').modal('show');
               }),
               Event.$on('archivo-material', (archivo) =>
               {
                    this.form.archivo = archivo.data.archivo;
                    this.form.tipo_archivo = archivo.data.tipo;

                    document.getElementById("myVideomaterial").load();
               })
          }
     }
     </script>
     <style media="screen">
     @media (min-width: 620px) {
          .img_fot{
               max-width: 500px;
          }
     }
     input.display-time{
          width: 100% !important;
          border-left: 0px !important;
          border-right: 0px !important;
          border-top: 0px !important;
          border-top: 0px !important;
     }
     span.time-picker{
          width: 100%;
     }

     .ve-design{
          min-height: 250px;
     }

     </style>
