<template>
     <form>
          <div class="row">
               <div class="col-md-12">
                    <div class="form-group">
                         <label>Titulo</label>
                         <input :disabled="poder_editar()" type="text" v-model="form.titulo" class="form-control">
                         <small class="help-block m-b-none text-danger" v-show="formHelper.errores.has('nombre')"></small>
                    </div>
               </div>

               <div class="col-md-12">
                    <div class="form-group">
                         <label>Descripción</label>
                         <ckeditor  v-if="!poder_editar()" editorUrl="https://cdn.ckeditor.com/4.14.1/full-all/ckeditor.js" v-model="form.descripcion"></ckeditor>

                         <!-- <div id="descripcion">
                              <Vueditor ref="descripcion"   ></Vueditor>
                         </div> -->

                         <!-- <Vueditor  v-if="!poder_editar()" ref="descripcion"></Vueditor> -->
                         <div v-else class="col-md-12 dis_desc" v-html="form.descripcion">
                         </div>

                         <small class="help-block m-b-none text-danger" v-show="formHelper.errores.has('nombre')"></small>
                    </div>
               </div>


               <div class="clearfix">
               </div>
               <div class="col-md-12">
                    <div class="form-group text-center">
                         <label>Archivo</label><br>
                         <button v-if="!poder_editar()" type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#Modaluploadpresentacion">
                              <i class="material-icons">add_circle_outline</i> Subir archivo
                         </button><br>
                         <video v-if="form.tipo_archivo == 'video'" id="myVideo" controls>
                              <source :src="link_img(form.archivo)" type="video/mp4" />
                         </video>
                         <img v-if="form.tipo_archivo == 'img'" :src="link_img(form.archivo)" class="img-thumbnail img_fot">

                    </div>
               </div>
               <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-default"  @click.prevent="regresar()">Regresar</button>
                    <button class="btn btn-info"  @click.prevent="enviar()">Guardar</button>
               </div>
          </div>
     </form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js';
import { VueEditor, Quill } from "vue2-editor";
import VueTimepicker from 'vue2-timepicker';



export default {
     name: 'formulario-presentacion',
     components: {
          VueEditor, VueTimepicker
     },
     props: ['material_introductorio'],
     data: function () {
          return {
               form: {
                    id: this.material_introductorio.id,
                    curso_id: this.material_introductorio.curso_id,
                    titulo: this.material_introductorio.titulo,
                    descripcion: this.material_introductorio.descripcion,
                    tipo_archivo: this.material_introductorio.tipo_archivo,
                    archivo: this.material_introductorio.archivo,
                    curos_caduca: this.material_introductorio.curos_caduca,
               },
               formHelper: new FormHelper(),
               customToolbar: [
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],
                    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                         // text direction
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ align: 'center'}, { align:''}, { align:'right'}, { align:'justify'}],
                    ['link','clean' ]
               ]
          }
     },
     methods: {
          showMetheContentOne:function(){
               this.$refs.descripcion.setContent(this.form.descripcion);
          },
          link_img: function(image) {

               return dir_archivos+'principal/'+image;
          },
          enviar: function () {

               $.ajax({
                    url: base_url +'/cursos/save_material_introductorio',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              window.location.reload(false);
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          poder_editar: function() {
               if (_rol_id == 2) {
                    return true;
               }else if (_rol_id == 3) {
                    return true;
               }else{
                    return false;
               }
          },
          regresar: function() {
               console.log('paso');
               window.location.replace( base_url + "cursos");
          }
     },
     mounted(){
     },
     created: function () {
          Event.$on('archivo-presentacion', (archivo) =>
          {
               console.log(archivo);
               this.form.archivo = archivo.data.archivo;
               this.form.tipo_archivo = archivo.data.tipo;
               console.log(this.form.archivo );
               console.log(this.form.tipo );
               document.getElementById("myVideo").load();
          });
     }
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}
video{
     width: 100%;
     max-width: 500px;
}

</style>
