<!--
Formulario para las siguientes preguntas
* 2- Completar palabra faltante
-->
<template>
     <form>
          <div class="row">
               <ckeditor  editorUrl="https://cdn.ckeditor.com/4.14.1/full-all/ckeditor.js" v-model="form.descripcion"></ckeditor>
          </div>
          <div class="row" v-for="(pregunta, index_preg) in form.preguntas" :key="index_preg">
               <div class="card" style=" margin-bottom: 10px; margin-top: 10px;">
                    <div class="card-body">
                         <div class="row">
                              <div class="col-12">
                                   <span>Copia el código con corchetes en donde quieres poner el selector de respuestas.</span>
                              </div>
                              <div class="col-8">
                                   <button type="button" class="btn btn-danger pull-left" @click.prevent="delet_bloque(index_preg)">
                                        <i class="fa fa-trash"></i><div class="ripple-container"></div>
                                   </button>
                                   <h3 style="margin-top: 10px;"> {{ pregunta.titulo }}</h3>
                              </div>
                              <div class="col-4">
                                   <button type="button" class="btn btn-warning pull-right" @click.prevent="add_resp(index_preg)">
                                        <i class="fa fa-plus" ></i> Nueva respuesta<div class="ripple-container"></div>
                                   </button>
                              </div>
                              <div class="col-12">
                                   <hr>
                              </div>

                              <div class="col-md-12" v-for="(respuesta, index) in pregunta.respuestas" :key="index" >
                                   <div class="input-group mb-3">
                                        <label class="bmd-label-static">Respuesta</label>
                                        <input type="text" class="form-control" v-model="respuesta.opcion">
                                        <div class="input-group-prepend">
                                             <div class="input-group-text">
                                                  <input type="radio" :name="index_preg" aria-label="Checkbox for following text input" v-model="respuesta.correcta" :value="index" @change="uncheck(index_preg, index)" >
                                             </div>
                                        </div>
                                        <button type="button" class="btn btn-danger btn-sm" name="button" @click.prevent="delet_rep(index_preg, index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row pull-right">
               <button class="btn btn-default" @click.prevent="cerra_modal_dos()">Regresar</button>
               <button class="btn btn-info" @click.prevent="enviar()">Guardar</button>
               <button class="btn btn-warning" @click.prevent="add()">Nuevo bloque respuesta</button>

          </div>
     </form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { VueEditor } from "vue2-editor";


export default {
     props: ['prop_examen_id', 'prop_id', 'prop_tipo_pregunta'],
     name: 'form-preguntas-dos',
     components: {
          VueEditor
     },
     data: function () {
          return {
               form: {
                    'titulo' : '',
                    'descripcion' : '',
                    'id' : this.prop_id,
                    'catalogo_preguntas' : 2,
                    'examen_id' : this.prop_examen_id,
                    preguntas : []
               },
               examen_id : '',
               chang : this.prop_id,
               formHelper: new FormHelper()
          }
     },
     methods: {
          cerra_modal_dos: function(){
               $('#modal_preguntas_examen').modal('hide');
               $('#modal_examen').modal('show');
               $('#modal_examen').css('overflowY', 'auto');
          },
          uncheck: function(pregunta, repuesta) {
               console.log(this.form.preguntas[pregunta].respuestas[repuesta]);
               for (var i = 0; i < this.form.preguntas[pregunta].respuestas.length; i++) {
                    this.form.preguntas[pregunta].respuestas[i].correcta = 0;
               }
               this.form.preguntas[pregunta].respuestas[repuesta].correcta = 1;
         },
          add: function() {
               this.form.preguntas.push({'titulo': '[' + this.makeid() + ']' , 'correcta':'', 'pregunta_id' : '', 'id' : '', 'respuestas':[]});
          },
          makeid: function(length = 5) {
               var result           = '';
               var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
               var charactersLength = characters.length;
               for ( var i = 0; i < length; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
               }
               return result;
          },
          add_resp: function(key) {
               this.form.preguntas[key].respuestas.push({'opcion': '', 'pregunta_id' : key, 'id' : '' });
          },
          delet_bloque: function(index) {
               this.form.preguntas.splice(index, 1);
          },
          delet_rep: function(index_preg,index) {
               this.form.preguntas[index_preg].respuestas.splice(index, 1);
          },
          enviar: function () {
               this.form.id = this.prop_id;
               $.ajax({
                    url: base_url +'/preguntas/save_preguntas_completar/',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              Event.$emit('preguntas_examen_modulo', this.prop_examen_id);
                              this.cerra_modal_dos();
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_modulo_dos: function () {
               $.ajax({
                    url: base_url +'/preguntas/get_pregunta_id',
                    data:  {id: this.prop_id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {

                    }.bind(this),
                    success: function (respuesta) {
                         this.form = respuesta.pregunta;
                         this.form.catalogo_preguntas = 2;
                         this.form.examen_id = this.prop_examen_id;
                         this.form.id = this.prop_id;

                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {

                    }.bind(this)
               });
          },

     },
     created() {
          this.get_modulo_dos();
     },
     watch:{
            'prop_id'(){
               this.get_modulo_dos();
            }
     }
}
</script>
<style>
</style>
