<!--
Formulario para las siguientes preguntas_model
* 1- Preguntas de Múltiple Opción
* 4- Secuencia
* 6- Dicotomaticas
-->
<template>
     <form>
          <div class="row">
               <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="this.errores" style="width:100%; padding: 10px 0px 0px 10px;">
                    <span v-html="this.errores"></span>
                    <button type="button" class="close" @click.prevent="limpiar_error()">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>

               <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                         <h3 style="margin: 20px 0 -5px;">Pregunta</h3>
                         <input type="text" class="form-control" v-model="preg_info.titulo">
                    </div>
               </div>

               <div class="col-md-12">
                    <hr>
                    <br>
               </div>

               <div class="col-md-12" v-for="(respuesta, index) in respuestas" :key="index" >
                    <div class="input-group mb-3">
                         <label class="bmd-label-static">Respuesta</label>
                         <input type="text" class="form-control" v-model="respuesta.opcion">
                         <div class="input-group-prepend">
                              <div class="input-group-text">
                                   <input type="radio" aria-label="Checkbox for following text input" v-model="res_correcta" :value="index" >
                              </div>
                         </div>
                         <button type="button" class="btn btn-danger btn-sm" name="button" @click.prevent="eliminar_pregunta(index)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                         </button>
                    </div>
               </div>

               <div class="col-md-12 text-right">
                    <button class="btn btn-warning float-right" @click.prevent="add()">Nueva respuesta</button>
                    <button class="btn btn-default" @click.prevent="cerra_modal_uno()">Regresar</button>
                    <button class="btn btn-info" @click.prevent="enviar()">Guardar</button>
               </div>
          </div>
     </form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'


export default {
     props: ['prop_examen_id', 'prop_id', 'prop_tipo_pregunta'],
     name: 'form-preguntas-uno',
     data: function () {
          return {
               preg_info: {
                    'titulo' : '',
                    'id' : this.prop_id,
                    'catalogo_preguntas' : this.prop_tipo_pregunta,
                    'examen_id' : this.prop_examen_id,
               },
               respuestas: [],
               errores: '',
               res_correcta : '',
               pregunta_id : '',
               examen_id : '',
               formHelper: new FormHelper()
          }
     },
     methods: {
          cerra_modal_uno: function(){
               $('#modal_preguntas_examen').modal('hide');
               $('#modal_examen').modal('show');
               $('#modal_examen').css('overflowY', 'auto');
          },
          add: function() {
               this.respuestas.push({'opcion': '', 'correcta':'', 'pregunta_id' : this.preg_info.id, 'id' : '' });
          },
          limpiar_error: function() {
               this.errores = '';
          },
          enviar: function () {
               this.preg_info.id = this.prop_id;
               $.ajax({
                    url: base_url +'/preguntas/save_preguntas',
                    data: {
                         pregunta: this.preg_info,
                         respuestas: this.respuestas,
                         res_correcta: this.res_correcta,
                    },
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         console.log(respuesta.errores);
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.errores = respuesta.errores;
                         if(!respuesta.error){
                              Event.$emit('preguntas_examen_modulo', this.preg_info.examen_id);
                              this.cerra_modal_uno();
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          eliminar_pregunta: function ($pregunta_id) {
               var preg = this.respuestas[$pregunta_id];
               var nue_arreglo = this.respuestas;

               nue_arreglo.splice($pregunta_id, 1);
               this.respuestas = nue_arreglo;

          },
          get_modulo_uno: function () {

               $.ajax({
                    url: base_url +'/preguntas/get_pregunta_id',
                    data:  {id: this.prop_id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {

                    }.bind(this),
                    success: function (respuesta) {
                         var correcta = '';
                         if (respuesta.respuestas.length > 0) {
                              respuesta.respuestas.filter(function(el,key) { if(el.correcta == 1){ return correcta = key ; } });
                         }
                         this.res_correcta = correcta;
                         // console.log(respuesta.pregunta.titulo);
                         this.preg_info.titulo = respuesta.pregunta.titulo;
                         this.respuestas = respuesta.respuestas;
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {

                    }.bind(this)
               });
          },
     },
     created() {
          this.get_modulo_uno();
     },
     watch:{
            'prop_id'(){
               this.get_modulo_uno();
               this.errores = '';
            }
     }
}
</script>
<style>
</style>
