<template>

     <div class="modal fade" id="modal_preguntas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-body">

                         <div class="alert alert-warning alert-dismissible fade show" role="alert" v-if="this.errores">
                              <div v-html="this.errores"></div>
                              <button type="button" class="close" @click.prevent="limpiar_error()">
                                   <span aria-hidden="true">&times;</span>
                             </button>
                         </div>

                         <div class="col-md-12">
                              <div class="form-group bmd-form-group">
                                   <label class="bmd-label-static">Pregunta</label>
                                   <input type="text" class="form-control" v-model="preg_info.titulo">
                              </div>
                         </div>

                         <div class="col-md-12">
                              <hr>
                              <br>
                         </div>

                         <div class="col-md-12" v-for="(respuesta, index) in respuestas" :key="index" >
                              <div class="input-group mb-3">
                                   <label class="bmd-label-static">Respuesta</label>
                                   <input type="text" class="form-control" v-model="respuesta.opcion">
                                   <div class="input-group-prepend">
                                        <div class="input-group-text">
                                             <input type="radio" aria-label="Checkbox for following text input" v-model="res_correcta" :value="index" >
                                        </div>
                                   </div>
                                   <button type="button" class="btn btn-danger btn-sm" name="button" @click.prevent="eliminar_pregunta(index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                              </div>
                         </div>

                         <div class="col-md-12 text-right">
                              <button class="btn btn-warning float-right" @click.prevent="add()">Nueva respuesta</button>
                              <button class="btn btn-default" @click.prevent="cerra_modal()">Regresar</button>
                              <button class="btn btn-info" @click.prevent="enviar()">Guardar</button>
                         </div>

                    </div>
               </div>
          </div>
     </div>
</div>


</form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'



export default {
     name: 'formulario-preguntas',
     data: function () {
          return {
               preg_info: {
                    'titulo' : '',
                    'id' : '',
                    'material_id' : '',
               },
               respuestas: [],
               errores: '',
               res_correcta : '',
               pregunta_id : '',
               material_id : '',
               formHelper: new FormHelper()
          }
     },
     methods: {
          cerra_modal: function(){
               $('#modal_preguntas').modal('hide');
               $('#modal_post_modulo').modal('show');
               $('#modal_post_modulo').css('overflowY', 'auto');

          },
          add: function() {
               this.respuestas.push({'opcion': '', 'correcta':'', 'pregunta_id' : this.preg_info.id, 'id' : '' });
          },
          limpiar_error: function() {
               this.errores = '';
          },
          enviar: function () {
               $.ajax({
                    url: base_url +'/preguntas/save_preguntas',
                    data: {
                         pregunta: this.preg_info,
                         respuestas: this.respuestas,
                         res_correcta: this.res_correcta,
                    },
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         console.log(respuesta.errores);
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.errores = respuesta.errores;
                         if(!respuesta.error){
                              Event.$emit('post_modulo', this.preg_info.material_id);
                              this.cerra_modal();
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_modulo: function () {
               $.ajax({
                    url: base_url +'/preguntas/get_pregunta_id',
                    data:  {id: this.preg_info.id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {

                    }.bind(this),
                    success: function (respuesta) {

                         var correcta = '';
                         if (respuesta.respuestas.length > 0) {
                              respuesta.respuestas.filter(function(el,key) { if(el.correcta == 1){ return correcta = key ; } });
                         }
                         this.res_correcta = correcta;
                         // console.log(respuesta.pregunta.titulo);
                         this.preg_info.titulo = respuesta.pregunta.titulo;
                         this.respuestas = respuesta.respuestas;
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {

                    }.bind(this)
               });
          },
          eliminar_pregunta: function ($pregunta_id) {
               this.$swal({
                    title: 'Eliminar respuesta',
                    text: "¿ desea eliminar la respuesta ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    if(result.value == true){
                         var preg = this.respuestas[$pregunta_id];
                         var nue_arreglo = this.respuestas;
                         if (preg.id != '') {
                              $.ajax({
                                   url: base_url +'/preguntas/eliminar_respuesta/',
                                   data : {respuesta_id : preg.id },
                                   type: 'POST',
                                   dataType: 'json',
                                   beforeSend: function () {

                                   }.bind(this),
                                   success: function (respuesta) {
                                        this.$swal({
                                             title: '',
                                             type: 'success',
                                             text: respuesta.mensaje,
                                        });
                                   }.bind(this),
                                   error: function (xhr, status) {
                                        toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                                   }.bind(this),
                                   complete: function () {
                                   }.bind(this)
                              });

                         }else{

                         }
                         nue_arreglo.splice($pregunta_id, 1);
                         this.respuestas = nue_arreglo;

                    }
               });


          },
     },
     created: function () {
          Event.$on('modal_preguntas', (pres_mat) =>
          {
               console.log(pres_mat);
               this.preg_info.id = pres_mat.pregunta_id;
               this.preg_info.material_id = pres_mat.material_id;
               this.get_modulo();
               $('#modal_preguntas').modal('show');
          }
     );
}
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}

.ve-design{
     min-height: 250px;
}

</style>
