<template>
     <div class="modal fade" id="modal_examen_editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel" > Editar información examen </h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Titulo</label>
                                        <input type="text" class="form-control" v-model="form.titulo">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>

                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Descripción</label>
                                        <input type="text" class="form-control" v-model="form.descripcion">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>

                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Instrucciones</label>
                                        <ckeditor v-model="form.instrucciones"></ckeditor>

                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>

                              <div class="col-md-12">
                                   <div class="form-group">
                                        <input type="checkbox" :value="1" :checked="form.tiempo_examen" v-model="form.tiempo_examen" >
                                        <label>¿ Se califica ?</label>
                                   </div>
                              </div>

                              <div class="col-md-12" v-if="form.tiempo_examen">
                                   <div class="form-group">
                                        <label>Tiempo Hor/Min</label>
                                        <vue-timepicker format="HH:mm:ss" v-model="autoScrollData1"></vue-timepicker>
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('calificacion_aprovatoria')" v-show="formHelper.errores.has('calificacion_aprovatoria')"></small>
                                   </div>
                              </div>

                              <button class="btn btn-default"  @click.prevent="regresar()">Regresar</button>
                              <button class="btn btn-info" @click.prevent="enviar()">Guardar</button>

                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { VueEditor } from "vue2-editor";
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

export default {
     name: 'formulario-examen',
     components: {
          VueEditor, VueTimepicker
     },
     props: ['cursoid'],
     data: function () {
          return {
               examen_id :'',
               form: {
                    id: '',
                    titulo: '',
                    descripcion: '',
                    curso_id : this.cursoid,
                    tipo: '',
                    instrucciones: '',
                    tiempo_examen: '',
                    tiempo: '',
               },
               autoScrollData1: {
                    HH: '00',
                    mm: '00',
                    ss: '00'
               },
               formHelper: new FormHelper(),
               customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }], [ "code-block"] ]
          }
     },
     methods: {
          enviar: function () {
               // this.form.instrucciones =  this.$refs.instrucciones.getContent();

               this.form.tiempo = this.autoScrollData1.HH+':'+this.autoScrollData1.mm+':'+this.autoScrollData1.ss;
               $.ajax({
                    url: base_url +'/examen/data_form',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              this.regresar();
                              Event.$emit('recargar_examen');

                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_examen: function () {
               $.ajax({
                    url: base_url +'/examen/get_examen_id',
                    data: {examen_id: this.examen_id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         console.log(respuesta);
                         this.form.id = respuesta.id;
                         this.form.titulo = respuesta.titulo;
                         this.form.descripcion = respuesta.descripcion;
                         this.form.tiempo_examen = respuesta.tiempo_examen == "1" ? true : false;
                         this.form.instrucciones = respuesta.instrucciones;
                         this.$refs.instrucciones.setContent(this.form.instrucciones);

                         console.log(respuesta.tiempo);

                         this.form.tiempo = respuesta.tiempo;
                         this.form.tiempo = respuesta.tiempo.split(":");
                         this.autoScrollData1 = {
                              HH: this.form.tiempo[0],
                              mm: this.form.tiempo[1],
                              ss: this.form.tiempo[2]

                         } ;


                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          regresar: function() {
               $('#modal_examen_editar').modal('hide');
          }
     },
     created: function () {

          Event.$on('editar_examen', ( data ) =>
          {
               console.log(data);
               this.examen_id = data.id;
               this.form.tipo = data.tipo;
               this.get_examen();
               $('#modal_examen_editar').modal('show');
          }
     );
}
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}
.vueditor{
     height: 400px;
}

</style>
