<template>
     <div class="modal fade" id="form_profesores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel" > Formulario facilitador </h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Nombre</label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.nombre">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>

                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Descripción</label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.descripcion">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>


                              <div class="col-md-12" >
                                   <div class="form-group text-center">
                                        <label>Imagen</label><br>
                                        <button v-if="!poder_editar()" type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#ModalUploadProfesores">
                                             <i class="material-icons">add_circle_outline</i> Subir archivo
                                        </button><br>
                                        <strong>200px x 120px</strong>
                                        <br>
                                        <img  :src="link_img(form.foto)" class="img-thumbnail img_fot">
                                   </div>
                              </div>


                              <div class="col-md-12 text-right">
                                   <button class="btn btn-default"  @click.prevent="regresar()">Regresar</button>
                                   <button class="btn btn-info" v-if="!poder_editar()" @click.prevent="enviar()">Guardar</button>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { VueEditor } from "vue2-editor";


export default {
     name: 'formulario-profesores',
     components: {
          VueEditor
     },
     props: ['cursoid'],
     data: function () {
          return {
               profesor_id :'',
               form: {
                    id: '',
                    curso_id: this.cursoid,
                    nombre: '',
                    descripcion: '',
                    foto: '',
               },
               formHelper: new FormHelper(),
               customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }], [ "code-block"] ]
          }
     },
     methods: {
          poder_editar: function() {
               if (_rol_id == 2) {
                    return true;
               }else if (_rol_id == 3) {
                    return true;
               }else{
                    return false;
               }
          },
          enviar: function () {
               $.ajax({
                    url: base_url +'/profesores/data_form',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              this.regresar();
                              Event.$emit('recargar_profesores');
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_profesor: function () {
               $.ajax({
                    url: base_url +'/profesores/get_profesor_id',
                    data: {profesor_id: this.profesor_id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.form.id = respuesta.id;
                         this.form.nombre = respuesta.nombre;
                         this.form.descripcion = respuesta.descripcion;
                         this.form.foto = respuesta.foto;
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          link_img: function(image) {
               if (image !== undefined && image !== '' && image !== null ) {
                    return dir_archivos+'/profesores/'+image;
               }else{
                    return dir_archivos+'/principal/sinimagen.jpg';
               }
          },
          regresar: function() {
               $('#form_profesores').modal('hide');
          }
     },
     created: function () {

          Event.$on('editar_profesor', (profesor_id) =>
          {
               this.profesor_id = profesor_id;
               this.get_profesor();
               $('#form_profesores').modal('show');
          });
          Event.$on('publicar-archivo-profesores', (archivo) =>
         {
              console.log('paso');
              console.log(archivo);
               console.log(archivo.data.archivo);
              this.form.foto = archivo.data.archivo;
             console.log(archivo);
         });
     }
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}
.vueditor{
     height: 400px;
}

.img_fot{
     width: 100%;
}

</style>
