<template>

     <div class="modal fade" id="modal_modulos_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel" v-if="form.id">Editar módulo</h4>
                         <h4 class="modal-title" id="myModalLabel" v-else >Nuevo módulo</h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Nombre</label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.titulo">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Facilitadores</label>
                                        <!-- <div id="doctors">
                                             <Vueditor ref="doctors"   ></Vueditor>
                                        </div> -->
                                        <ckeditor  v-if="!poder_editar()" v-model="form.doctors"></ckeditor>

                                        <!-- <Vueditor  v-if="!poder_editar()" ref="doctors"></Vueditor> -->
                                        <div v-else class="col-md-12 dis_desc" v-html="form.doctors">
                                        </div>
                                        <!-- <vue-editor :focus="log()" :editorToolbar="customToolbar" v-model="form.doctors"></vue-editor> -->
                                   </div>
                              </div>
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Duración</label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.duracion">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>
                              <div class="col-md-12 text-right">
                                   <button class="btn btn-default" @click.prevent="cerra_modal()">Regresar</button>
                                   <button class="btn btn-info" v-if="!poder_editar()" @click.prevent="enviar()">Guardar</button>
                              </div>

                         </div>
                    </div>
               </div>
          </div>
     </div>


</form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { ToggleButton } from 'vue-js-toggle-button'


export default {
     name: 'formulario-modulo',
     components: {
          ToggleButton
     },
     props: ['cursoid'],
     data: function () {
          return {
               form: {
                    id: '',
                    cursoid: this.cursoid,
                    doctors: '',
                    duracion: '',
                    titulo: '',
               },
               formHelper: new FormHelper(),
               customToolbar: [
                    ["bold", "italic", "underline"],
                    [{ list: "ordered" }, { list: "bullet" }],
                    [ "code-block"],
                    [ "table"]
               ]
          }
     },
     methods: {
          poder_editar: function() {
               if (_rol_id == 2) {
                    return true;
               }else if (_rol_id == 3) {
                    return true;
               }else{
                    return false;
               }
          },
          cerra_modal: function(){
               $('#modal_modulos_form').modal('hide');
          },
          log: function () {
                    console.log('function');
          },
          enviar: function () {
               $.ajax({
                    url: base_url +'/cursos/save_modulo',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              Event.$emit('recargar_modulos');
                              $('#modal_modulos_form').modal('hide');

                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_modulo: function () {
               $.ajax({
                    url: base_url +'/cursos/get_modulo_id',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.form.id = respuesta.id;
                         this.form.doctors = respuesta.doctors;
                         this.form.titulo = respuesta.titulo;
                         this.form.duracion = respuesta.duracion;
                         this.$refs.doctors.setContent(this.form.doctors);
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
     },
     created: function () {
          Event.$on('modal_modulos', (id) =>
          {
               this.form.id = id;
               this.get_modulo();
               $('#modal_modulos_form').modal('show');
          }
     );
}
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}


</style>
