<template>
     <div class="modal fade" id="form_material_relacionado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel" > Formulario material de apoyo </h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Nombre </label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.nombre">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>

                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Descripcion</label>
                                        <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.descripcion">
                                        <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                                   </div>
                              </div>

                              <div class="col-md-12">
                                   <div class="form-group text-center">
                                        <label>Archivo</label><br>
                                        <button  v-if="!poder_editar()"  type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#Modaluploadrelacionados">
                                             <i class="material-icons">add_circle_outline</i> Subir archivo
                                        </button><br>
                                        <video id="myVideomaterialrelacionado" v-if="form.tipo_archivo == 'video'" style="width:100%"  controls>
                                             <source :src="link_img(form.archivo)" type="video/mp4" >
                                        </video>

                                        <iframe v-if="form.tipo_archivo == 'pdf'" :src="link_img(form.archivo, form.tipo_archivo)" style="width:100%; height:400px;"></iframe>

                                        <iframe v-if="form.tipo_archivo == 'office'" :src="link_img(form.archivo, form.tipo_archivo)" style="width:100%; height:400px;"></iframe>


                                   </div>
                              </div>


                              <div class="col-md-12 text-right">
                                   <button class="btn btn-default"  @click.prevent="regresar()">Regresar</button>
                                   <button class="btn btn-info"  v-if="!poder_editar()" @click.prevent="enviar()">Guardar</button>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { VueEditor } from "vue2-editor";


export default {
     name: 'formulario-material-relacionado',
     components: {
          VueEditor
     },
     props: ['cursoid'],
     data: function () {
          return {
               material_relacionado :'',
               form: {
                    id: '',
                    curso_id: this.cursoid,
                    nombre: '',
                    descripcion: '',
                    tipo_archivo: 'video',
                    archivo: '',
               },
               formHelper: new FormHelper(),
               customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }], [ "code-block"] ]
          }
     },
     methods: {
          poder_editar: function() {
               if (_rol_id == 2) {
                    return true;
               }else if (_rol_id == 3) {
                    return true;
               }else{
                    return false;
               }
          },
          enviar: function () {
               $.ajax({
                    url: base_url +'/relacionados/data_form',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              this.regresar();
                              Event.$emit('recargar_materiales_relacionados');
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_material: function () {
               $.ajax({
                    url: base_url +'/relacionados/get_relacionados_id',
                    data: {relacionados_id: this.material_relacionado},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.form.id = respuesta.id;
                         this.form.nombre = respuesta.nombre;
                         this.form.descripcion = respuesta.descripcion;
                         this.form.archivo = respuesta.archivo;
                         this.form.tipo_archivo = respuesta.tipo_archivo;
                         document.getElementById("myVideomaterialrelacionado").load();
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          link_img: function(image, type = 'video') {
               switch (type) {
                    case 'video' :
                         return dir_archivos+'video/'+image;
                    break;
                    case 'pdf' :
                         return 'https://docs.google.com/viewer?url='+dir_archivos+'video/'+image+'&embedded=true';
                    break;
                    default:
                         return 'https://view.officeapps.live.com/op/view.aspx?src='+dir_archivos+'video/'+image;

               }

          },
          regresar: function() {
               $('#form_material_relacionado').modal('hide');
          }
     },
     created: function () {

          Event.$on('editar_material_relacionado', (material_relacionado) =>
          {
               this.material_relacionado = material_relacionado;
               this.get_material();
               $('#form_material_relacionado').modal('show');
          });

          Event.$on('publicar-archivo-relacionado', (archivo) =>
          {
               this.form.archivo = archivo.data.archivo;
               this.form.tipo_archivo = archivo.data.tipo;
               console.log('paso aqui');
               console.log(this.form.archivo );
               document.getElementById("myVideomaterialrelacionado").load();
               $('#form_material_relacionado').css('overflowY', 'auto');
          })
     }
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}
.vueditor{
     height: 400px;
}

</style>
