<template>

     <div class="modal fade" id="modal_post_modulo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h3 class="modal-title" id="myModalLabel" > Preguntas material </h3>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <button type="button" class="btn btn-warning pull-right" @click.prevent="ver_modal_preguntas()"><i class="fa fa-plus"></i>   Nueva pregunta</button>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-12" v-if="this.preguntas.length == 0">
                                   <br>
                                   <div  class="alert alert-info" role="alert">
                                        Sin preguntas
                                   </div>
                                   <br>
                              </div>
                              <draggable :list="this.preguntas" @end="checkMove" style="width:100%;" >

                                   <div class="col-md-12" v-for="(pregunta, index) in this.preguntas" :key="index" >
                                        <div class="card" style="margin-top: 45px;">
                                             <div class="card-header card-header-info" style="background: linear-gradient(90deg,#27adc2,#acdce2);" >
                                                  <h4 class="card-title">
                                                       {{ pregunta.titulo }}
                                                       <button type="button" class="btn btn-sm btn-danger pull-right" @click.prevent="eliminar_pregunta(pregunta.id)"><i class="fa fa-trash"></i>  Eliminar </button>
                                                       <button type="button" class="btn btn-sm btn-success pull-right" @click.prevent="ver_modal_preguntas(pregunta.id)"><i class="fa fa-edit"></i>  Editar </button>
                                                       <!-- <button type="button" class="btn btn-sm btn-warning pull-right" @click.prevent="ver_modal_preguntas()"><i class="fa fa-plus"></i>   Material</button> -->
                                                  </h4>
                                             </div>
                                             <div class="card-body" >
                                                  <div class="col-md-12">
                                                       <div class="card" >
                                                            <div class="card-body">
                                                                 <p v-for="(respuestas, index) in pregunta.respuestas" :key="index" :class=" respuestas.correcta == 1 ? 'text-success': '' " > <strong> Opcion: </strong> {{ respuestas.opcion }} </p>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </draggable>

                              <div class="col-md-12">
                                  <button type="button" class="btn btn-default pull-right" @click.prevent="cerra_modal()" name="button">Cerrar</button>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>


</form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import draggable from 'vuedraggable'


export default {
     name: 'formulario-post-modulo',
     components: {
           draggable,
     },
     data: function () {
          return {
               id:'',
               preguntas: [],
               formHelper: new FormHelper()
          }
     },
     methods: {
          checkMove: function(e) {
               console.log(this.modulos);
               $.ajax({
                    url: base_url +'/preguntas/orden_preguntas_material',
                    data: {list:this.preguntas},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {

                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                    }.bind(this)
               });
           },
          cerra_modal: function(){
               $('#modal_post_modulo').modal('hide');
          },
          ver_modal_preguntas: function( $pregunta_id = false){
                   this.cerra_modal();
                   Event.$emit('modal_preguntas', {'pregunta_id' : $pregunta_id, 'material_id': this.id });
              },
          enviar: function () {
               $.ajax({
                    url: base_url +'/cursos/data_form',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              window.location.replace("/cursos");
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_modulo: function () {
               $.ajax({
                    url: base_url +'/preguntas/get_preguntas_material',
                    data: {id: this.id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {

                         this.preguntas = respuesta;

                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          eliminar_pregunta: function ($pregunta_id) {
               this.$swal({
                    title: 'Eliminar preunta',
                    text: "¿ desea eliminar la pregunta ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    if(result.value == true){
                         var preg = $pregunta_id;
                         var nue_arreglo = this.respuestas;
                         if (preg.id != '') {
                              $.ajax({
                                   url: base_url +'/preguntas/eliminar_pregunta/',
                                   data : {pregunta_id : preg },
                                   type: 'POST',
                                   dataType: 'json',
                                   beforeSend: function () {

                                   }.bind(this),
                                   success: function (respuesta) {
                                        this.$swal({
                                             title: '',
                                             type: 'success',
                                             text: respuesta.mensaje,
                                        });
                                   }.bind(this),
                                   error: function (xhr, status) {
                                        toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                                   }.bind(this),
                                   complete: function () {
                                   }.bind(this)
                              });

                         }else{

                         }

                         this.get_modulo();

                    }
               });


          },
     },
     created: function () {
          Event.$on('post_modulo', (id) =>
          {
               this.id = id;
               this.get_modulo();
               $('#modal_post_modulo').modal('show');
          }
     );
}
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}

.ve-design{
     min-height: 250px;
}

</style>
