<template>
     <form>
          <div class="row">
               <div class="col-md-12">
                    <div class="form-group">
                         <label>Nombre</label>
                         <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.nombre">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                    </div>
               </div>

               <div class="col-md-12">
                    <div class="form-group">
                         <label>Nombre corto</label>
                         <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.nombre_corto">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre_corto')" v-show="formHelper.errores.has('nombre_corto')"></small>
                    </div>
               </div>

               <div class="col-md-12">
                    <label>Categoría curso</label>
                    <div class="input-group" style=" margin-top: -20px;">
                         <div class="input-group-prepend">
                              <span class="input-group-text icon_select" style=" margin-top: 15px;">
                                   <i class="material-icons icon_new">brightness_1</i>
                              </span>
                         </div>
                         <select :disabled="poder_editar()" class="form-control select-css" id="categoria"  v-model="form.categoria_id" @change.prevent="handleChange" style="margin-top: 15px;">
                              <option  disabled value="">Selecciona una opción</option>
                              <option  v-for="categoria in this.categorias" :data-foo="categoria.color" :value="categoria.id" > {{ categoria.nombre }} </option>
                         </select>
                    </div>
                    <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('categoria_id')" v-show="formHelper.errores.has('categoria_id')"></small>
                    <br>
               </div>

               <div class="col-md-12">
                    <div class="form-group">
                         <label>Duración</label>
                         <input :disabled="poder_editar()" type="text" class="form-control" v-model="form.duracion">
                    </div>
               </div>

               <div class="col-md-12">
                    <div class="form-group">
                         <label>Intentos</label>
                         <input type="text" class="form-control" v-model="form.num_intentos"  @keypress="isNumber($event)">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('num_intentos')" v-show="formHelper.errores.has('num_intentos')"></small>
                    </div>
               </div>


               <div class="col-md-12 text-left" v-if="form.estatus == 2 || form.estatus == 3 ">
                    <div class="form-group">
                         <input type="checkbox" :value="1" v-model="form.se_califica" >
                         <label>¿ Calificar el curso ?</label>
                    </div>
               </div>

               <div class="col-md-12" v-if="form.se_califica == 1">
                    <div class="form-group">
                         <label>Porcentaje para aprobar</label>
                         <input type="text" class="form-control" v-model="form.calificacion_aprovatoria"  @keypress="isNumber($event)">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('calificacion_aprovatoria')" v-show="formHelper.errores.has('calificacion_aprovatoria')"></small>
                    </div>
               </div>

               <!-- Estatus -->
               <div class="col-md-12">
                    <div class="form-group" style="margin-bottom: 15px; margin-top: -5px;">
                         <label style="margin-button: 30px; ">Estaus</label>
                         <select  class="form-control " v-model="form.estatus" data-style="btn btn-link" style="margin-top: 10px;">
                              <option  disabled value="">Selecciona una opción</option>
                              <option v-for="estatus in this.estatus" :value="estatus.id">{{estatus.nombre}}</option>
                         </select>
                    </div>
                    <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('estatus')" v-show="formHelper.errores.has('estatus')"></small>
               </div>

               <!--  Dar de baja curso -->
               <div class="col-md-12" v-if="form.estatus == 2">
                    <div class="form-group">
                         <label>Fecha de Alta</label>
                         <datepicker :disabled="poder_editar()" @closed="save_date_alta()" :format="customFormatter" v-model="fecha_alta"  input-class="form-control"></datepicker>
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('fecha_alta')" v-show="formHelper.errores.has('fecha_alta')"></small>
                    </div>
               </div>
               <br>

               <div class="col-md-12" v-if="form.estatus == 2 || form.estatus == 3 ">
                    <div class="form-group">
                         <input  type="checkbox" :value="1" v-model="form.prog_baja" >
                         <label>Fecha de baja automatico</label>
                    </div>
               </div>

               <div class="col-md-12" v-if="form.prog_baja == 1">
                    <div class="form-group">
                         <label>Fecha de baja</label>
                         <datepicker @closed="save_date_baja()" v-model="fecha_baja" :format="customFormatter" input-class="form-control"></datepicker>
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('curos_caduca')" v-show="formHelper.errores.has('curos_caduca')"></small>
                    </div>
               </div>



               <div class="col-md-12">
                    <div class="form-group" >
                         <label>Descripción</label>
                         <Vueditor  v-if="!poder_editar()" ref="descrip"></Vueditor>
                         <div v-else class="col-md-12 dis_desc" v-html="form.descripcion" >
                         </div>
                    </div>
               </div>

               <div class="col-md-12">
                    <div class="form-group text-center">
                         <label>Imagen cabecera</label><br>
                         <button v-if="!poder_editar()" type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#ModalUploadSmall">
                              <i class="material-icons">add_circle_outline</i> Subir archivo
                         </button><br><br>
                         <img v-if="form.imagen_small" :src="link_img(form.imagen_small)" class="img-thumbnail img_fot">
                    </div>
               </div>
               <div class="col-md-12">
                    <hr>
               </div>

               <div class="col-md-12">
                    <div class="form-group text-center">
                         <label>Archivo</label><br>
                         <button v-if="!poder_editar()" type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#Modalupload">
                              <i class="material-icons">add_circle_outline</i> Subir archivo
                         </button><br><br>
                         <video id="myVideo" v-if="form.tipo_archivo == 'video'" controls>
                              <source :src="link_img(form.imagen)" type="video/mp4" />
                         </video>
                         <img :src="link_img(form.imagen)" v-else class="img-thumbnail img_fot">
                    </div>
               </div>

               <div class="col-md-12 text-right">
                    <button class="btn btn-default"  @click.prevent="regresar()">Regresar</button>
                    <button class="btn btn-info" @click.prevent="enviar()">Guardar</button>

               </div>

          </div>
     </form>
</template>

     <script>
     import FormHelper from '../../../core/FormHelper.js'
     import { VueEditor } from "vue2-editor";
     import Datepicker from 'vuejs-datepicker';


     export default {
          name: 'formulario-cursos',
          components: {
               Datepicker, VueEditor
          },
          props: ['informacion', 'estatus' , 'categorias'],
          data: function () {
               return {
                    form: {
                         id: this.informacion.id,
                         nombre: this.informacion.nombre,
                         nombre_corto: this.informacion.nombre_corto,
                         descripcion: this.informacion.descripcion,
                         imagen: this.informacion.imagen,
                         tipo_archivo: this.informacion.tipo_archivo,
                         duracion: this.informacion.duracion,
                         estatus: this.informacion.estatus,
                         num_intentos: this.informacion.num_intentos,
                         curos_caduca: this.informacion.curos_caduca,
                         prog_baja: this.informacion.prog_baja == 1 ? true : false ,
                         se_califica: this.informacion.se_califica == 1 ? true : false ,
                         calificacion_aprovatoria : this.informacion.calificacion_aprovatoria,
                         fecha_alta: this.informacion.fecha_alta,
                         imagen_small: this.informacion.imagen_small,
                         categoria_id : this.informacion.categoria_id,
                    },
                    // fecha_baja : moment(this.informacion.curos_caduca).format("DD-MM-YYYY"),
                    // fecha_alta : moment(this.informacion.fecha_alta).format("DD-MM-YYYY"),
                    fecha_baja : '',
                    fecha_alta : '',
                    formHelper: new FormHelper(),
                    customToolbar: [["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }], [ "code-block"] ]
               }
          },
          methods: {
               handleChange(e) {
                    if(e.target.options.selectedIndex > -1) {
                         $(".icon_new").css('color', e.target.options[e.target.options.selectedIndex].dataset.foo);
                    }
               },
               customFormatter(date) {
                    return moment(date).format('DD-MM-YYYY');
               },
               save_date_baja: function() {
                    this.form.curos_caduca =  moment(this.fecha_baja).format('YYYY-MM-DD');
               },
               save_date_alta: function() {
                    this.form.fecha_alta =  moment(this.fecha_alta).format('YYYY-MM-DD');
               },
               enviar: function () {
                    if (_rol_id == 1) {
                        this.form.descripcion = this.$refs.descrip.getContent();
                   }
                    if (this.form.curos_caduca == "0000-00-00") {
                         this.form.curos_caduca = "";
                    }
                    if (this.form.fecha_alta == "0000-00-00") {
                         this.form.fecha_alta = "";
                    }
                    $.ajax({
                         url: base_url +'/cursos/data_form',
                         data: this.$data.form,
                         type: 'POST',
                         dataType: 'json',
                         beforeSend: function () {
                              this.formHelper.enviando = true;
                         }.bind(this),
                         success: function (respuesta) {
                              console.log(respuesta);
                              this.formHelper.notificacion((respuesta.status == "ok" ? '': true ), respuesta.mensaje);
                              this.formHelper.handler_errores(respuesta.errores);
                              if(respuesta.status == "ok"){
                                   window.location.replace( base_url + "/cursos");
                              }
                         }.bind(this),
                         error: function (xhr, status) {
                              // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                         }.bind(this),
                         complete: function () {
                              this.formHelper.enviando = false;
                         }.bind(this)
                    });
               },
               link_img: function(image) {
                    return dir_archivos+'principal/'+image;
               },
               regresar: function() {
                    window.location.replace( base_url + "cursos");
               },
               init: function() {
                    this.$refs.descrip.setContent(this.form.descripcion);
               },
               isNumber: function(evt) {
                    evt = (evt) ? evt : window.event;
                    var charCode = (evt.which) ? evt.which : evt.keyCode;

                    if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                         evt.preventDefault();;
                    } else {
                         return true;
                    }
               },
               poder_editar: function() {
                    if (_rol_id == 2) {
                         return true;
                    }else if (_rol_id == 3) {
                         return true;
                    }else{
                         return false;
                    }
               }
          },
          mounted(){
               this.init();
               if (this.informacion.fecha_alta != '0000-00-00' && this.informacion.fecha_alta != "") {
                    this.fecha_alta = new Date((moment(moment(this.informacion.fecha_alta).format("YYYY-MM-DD")).add('days', 0)));
               }
               if (this.informacion.curos_caduca != '0000-00-00' && this.informacion.curos_caduca != "") {
                    this.fecha_baja = new Date(moment(moment(this.informacion.curos_caduca).format("YYYY-MM-DD")).add('days', 0));
               }
          },

          created: function () {

               Event.$on('publicar-archivo', (archivo) =>
               {
                    this.form.imagen = archivo.data.archivo;
                    this.form.tipo_archivo = archivo.data.tipo;
                    console.log(archivo);
               });

               Event.$on('publicar-archivo-small', (archivo) =>
               {
                    this.form.imagen_small = archivo.data.archivo;
                    console.log(archivo);
               });
          }
     }
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}
.vueditor{
     height: 400px;
}
.form-control:disabled, .form-control[readonly] {
     background-color: transparent;
}
video{
     width: 100%;
     max-width: 500px;
}




select{
    border-bottom: 1px solid #d2d2d2 !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right !important;
}

</style>
