<template>
     <div class="row">
          <div class="col-md-12" v-for="(cliente, index) in clientes" :key="index" >
               <switch-curso :curso_id=curso_id :cliente=cliente  ></switch-curso>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import SwitchCurso from '../../../components/admin/cursos/SwitchCliente.vue';


export default {
     name: 'formulario-clientes-cursos',
     components: {
          SwitchCurso
     },
     props: ['curso_id'],
     data: function () {
          return {
               clientes:[],
               formHelper: new FormHelper(),
          }
     },
     methods: {
          cargar_cursos: function(){
               $.ajax({
                    url: base_url +'/usuarios/get_all_clientes',
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         console.log(response);
                         this.clientes = response;
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });
          }
     },
     created: function () {
          this.cargar_cursos();
          Event.$on('recargar_inscripciones', () => {
               this.cargar_cursos();
          });
     }
}
</script>

<style>
.pull-left{
     text-align: left !important;
}


</style>
