<template>
     <div class="modal fade" id="modal_preguntas_examen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content" id="modal_fondo">
                    <div class="card" style="position: relative; display: flex; flex-direction: column;" >
                         <div class="card-header card-header-warning">
                              <div class="col-md-12">
                                   <div class="form-group bmd-form-group" style=" margin: -5px 0px -5px;">
                                        <h2>Tipo de pregunta</h2>

                                        <!-- <select class="form-control sel_preg" v-model="tipo_pregunta" :disabled="id" style=" margin-top: -10px;">
                                        <option class="fff" :value="tipo_pregunta.id" v-for="(tipo_pregunta, index) in this.catalogo_preguntas">{{tipo_pregunta.nombre}}</option>
                                   </select> -->

                                   <div class="select">
                                        <select name="slct sel_preg" id="slct"  v-model="tipo_pregunta" :disabled="id">
                                             <option value="false">-- Selecciona un tipo de pregunta --</option>
                                             <option class="fff" :value="tipo_pregunta.id" v-for="(tipo_pregunta, index) in this.catalogo_preguntas">{{tipo_pregunta.nombre}}</option>
                                        </select>
                                   </div>


                              </div>
                         </div>
                    </div>
                    <div class="card-body ">
                         <div class="col-md-12">
                              <form-preguntas-uno :prop_id="id" ref="form" :prop_tipo_pregunta="tipo_pregunta" :prop_examen_id="examen_id" v-if="tipo_pregunta == 1 || tipo_pregunta == 4 || tipo_pregunta == 6" id="uno"></form-preguntas-uno>
                         </div>
                         <div class="col-md-12">
                              <form-preguntas-dos
                              :prop_id="id"
                              :prop_tipo_pregunta="tipo_pregunta"
                              :prop_examen_id="examen_id" v-if="tipo_pregunta == 2" id="dos"></form-preguntas-dos>
                         </div>
                         <div class="col-md-12">
                              <form-preguntas-tres :prop_id="id" :prop_examen_id="examen_id" v-if="tipo_pregunta == 3" id="tres"></form-preguntas-tres>
                         </div>
                         <div class="col-md-12">
                              <form-preguntas-cuatro :prop_id="id" :prop_examen_id="examen_id" v-if="tipo_pregunta == 5" id="cuatro"></form-preguntas-cuatro>
                         </div>
                         <div class="col-md-12 text-right" v-if="tipo_pregunta == false ||  tipo_pregunta == 'false'">
                              <button type="button" class="btn btn-succes alleft" @click.prevent="cerra_modal()"> Regresar</button>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js';
import FormPreguntasUno from '../../../components/admin/cursos/FormPreguntasUno.vue';
import FormPreguntasDos from '../../../components/admin/cursos/FormPreguntasDos.vue';
import FormPreguntasTres from '../../../components/admin/cursos/FormPreguntasTres.vue';
import FormPreguntasCuatro from '../../../components/admin/cursos/FormPreguntasCuatro.vue';



export default {
     name: 'formulario-preguntas-examen',
     props: ['catalogo_preguntas'],
     components: {
          FormPreguntasUno,
          FormPreguntasDos,
          FormPreguntasTres,
          FormPreguntasCuatro
     },

     data: function () {
          return {
               id:'',
               tipo_pregunta:'',
               examen_id:'',
          }
     },
     methods: {
          cerra_modal: function(){
               $('#modal_preguntas_examen').modal('hide');
               $('#modal_examen').modal('show');
               $('#modal_examen').css('overflowY', 'auto');
          }
     },
     created: function () {
          Event.$on('ver_modal_preguntas_examen', (pres_mat) =>
          {
               this.id = pres_mat.pregunta_id;
               this.examen_id = pres_mat.examen_id;
               this.tipo_pregunta = pres_mat.catalogo_preguntas;
               $('#modal_preguntas_examen').modal('show');
               $('#modal_preguntas_examen').css('overflowY', 'auto');
          });
     }
}
</script>
<style media="screen">
#modal_fondo{
     background-color: transparent;
     box-shadow: none;
}

.sel_preg{
     margin-top: -10px;
     font-size: 20px;
     color: #ebebeb;
}
.sel_preg:focus {
     color: #ffffff;
}

select {
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     appearance: none;
     outline: 0;
     box-shadow: none;
     border: 0 !important;
     background: #2c3e50;
     background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
     display: none;
}
/* Custom Select */
.select {
     position: relative;
     display: flex;
     width: 20em;
     height: 3em;
     line-height: 3;
     background: #ffffff;
     overflow: hidden;
     border-radius: .25em;
     width: 100%;
}
select {
     flex: 1;
     padding: 0 .5em;
     color: #34495e;
     cursor: pointer;
}
/* Arrow */
.select::after {
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1em;
     background: #34495e;
     cursor: pointer;
     pointer-events: none;
     -webkit-transition: .25s all ease;
     -o-transition: .25s all ease;
     transition: .25s all ease;
}
/* Transition */
.select:hover::after {
     color: #f39c12;
}

.alleft{
     float: left !important;
}

</style>
