<template>
     <div class="row">
          <div class="col-md-12">
               <button type="button" v-if="!poder_editar()" class="btn btn-warning pull-right" @click.prevent="modal_modulo()"><i class="fa fa-plus"></i>   Nuevo módulo</button>
          </div>
          <div class="clearfix"></div>
          <br>
          <!-- <draggable :list="this.modulos" :move="checkMove":move="checkMove" > -->
          <draggable :list="this.modulos" @end="checkMove" style="width:100%;" >
                    <div class="col-md-12" v-for="(modulo, index) in this.modulos" :key="index" :index="modulo.id">
                         <div class="card" style="margin-top: 45px;">
                              <div class="card-header card-header-info" style="background: linear-gradient(90deg,#27adc2,#acdce2);" >
                                   <h4 class="card-title">
                                        {{ modulo.titulo }}
                                        <button type="button" v-if="!poder_editar()" class="btn btn-sm btn-danger pull-right"  @click.prevent="eliminar_modulo(modulo.id)"><i class="fa fa-trash"></i>  Eliminar </button>
                                        <button type="button" v-if="!poder_editar()" class="btn btn-sm btn-success pull-right" @click.prevent="modal_modulo(modulo.id)"><i class="fa fa-edit"></i>  Editar </button>
                                        <button type="button" v-if="!poder_editar()" class="btn btn-sm btn-warning pull-right" @click.prevent="modal_materiales(false, modulo.id)"><i class="fa fa-plus"></i>   Material</button>
                                        <button type="button" v-if="poder_editar()" class="btn btn-sm btn-info pull-right" @click.prevent="modal_modulo(modulo.id)"><i class="fa fa-eye"></i>   Ver modulo</button>
                                   </h4>
                              </div>
                              <div class="card-body" >
                                   <div class="col-md-12" v-for="material in modulo.materiales">
                                        <div class="card" >
                                             <div class="card-body">

                                                  <h4 class="card-title">
                                                       <i class="fa fa-file-video-o" v-if="material.tipo_archivo == 'video'"></i>
                                                       <i class="fa fa-file-pdf-o"  v-if="material.tipo_archivo == 'pdf'"></i>
                                                       <i class="fa fa-check-square-o" aria-hidden="true" v-if="material.tipo_archivo == 'specialkey'"></i>
                                                       <p v-html="material.titulo"> </p>
                                                  </h4><br>
                                                  <div class="col-md-12" v-if="modulo.doctores != null">
                                                       <strong>Profesores :</strong>
                                                       <p v-html="material.doctores"></p>
                                                  </div>
                                                  <div class="col-md-12" v-if="modulo.objetivos != null">
                                                       <strong>Objetivos :</strong>
                                                       <p class="card-text" v-html="material.objetivos"></p>
                                                  </div>
                                                  <div class="col-md-12" v-if="modulo.termino != null">
                                                       <strong>Al termino :</strong>
                                                       <p class="card-text" v-html="material.termino"></p>
                                                  </div>

                                                  <button type="button" v-if="!poder_editar()" class="btn btn-sm btn-danger pull-right" @click.prevent="eliminar_materia(material.id)"><i class="fa fa-plus"></i>   Eliminar</button>
                                                  <button type="button" v-if="!poder_editar()" class="btn btn-sm btn-success pull-right" @click.prevent="modal_materiales(material.id, modulo.id)"><i class="fa fa-edit"></i>   Editar</button>
                                                  <button type="button"  v-if="!poder_editar()" class="btn btn-sm btn-default pull-right" @click.prevent="post_modulo(material.id)"><i class="fa fa-check"></i>   Preguntas</button>

                                                  <button type="button" v-if="poder_editar()" class="btn btn-sm btn-info pull-right" @click.prevent="modal_materiales(material.id, modulo.id)"><i class="fa fa-eye"></i>   Ver material</button>

                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

          </draggable>
     </div>

</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import draggable from 'vuedraggable'

export default {
     name: 'lista-modulos',
     components: {
           draggable,
     },
     props: ['cursoid'],
     data: function () {
          return {
               modulos: [],
               formHelper: new FormHelper()
          }
     },
     methods: {
          checkMove: function(e) {
               console.log(this.modulos);
               $.ajax({
                    url: base_url +'/cursos/orden_manual',
                    data: {list:this.modulos},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {

                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                    }.bind(this)
               });
           },
          modal_modulo: function($id = false){
               Event.$emit('modal_modulos', $id);
          },
          modal_materiales: function($id = false, $material_id){
               Event.$emit('modal_materiales', $id, $material_id);
          },
          post_modulo: function($id = false){
               Event.$emit('post_modulo', $id);
          },
          poder_editar: function() {
               if (_rol_id == 2) {
                    return true;
               }else if (_rol_id == 3) {
                    return true;
               }else{
                    return false;
               }
          },
          cargar_lista: function() {

               let loader = this.$loading.show({
                    color: '#529AD5',
                    canCancel: false,
                    loader: 'spinner',
                    width: 120,
                    height: 120,
                    backgroundColor: '#ffffff',
                    opacity: 0.5,
                    zIndex: 1300,
               });

               $.ajax({
                    url: base_url +'/cursos/get_modulos_curos_id',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                         cursoId: this.cursoid,
                    },
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         this.modulos = response;
                          loader.hide()
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });
          },
          eliminar_modulo: function(modulo_id) {
               this.$swal({
                    title: 'Eliminar modulo',
                    text: "¿ desea eliminar el modulo ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    console.log(result);
                    if(result.value == true){
                              $.ajax({
                                   url: base_url +'/cursos/eliminar_modulo',
                                   type: 'POST',
                                   dataType: 'json',
                                   data: {
                                        modulo_id: modulo_id,
                                   },
                                   beforeSend: function () {
                                        console.log('buscando...');
                                   }.bind(this),
                                   success: function (respuesta) {
                                        this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                                        this.formHelper.handler_errores(respuesta.errores);
                                        if(!respuesta.error){
                                             this.cargar_lista();
                                        }
                                   }.bind(this),
                                   error: function (xhr, status) {
                                        console.log('Error en la solicitud');
                                   },
                                   complete: function () {
                                        console.log('busqueda finalizada');
                                   }.bind(this)
                              })   ;
                    }
               });
          },
          eliminar_materia: function(material_id) {
               this.$swal({
                    title: 'Eliminar material',
                    text: "¿ desea eliminar el material ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    console.log(result);
                    if(result.value == true){
                              $.ajax({
                                   url: base_url +'/cursos/eliminar_material',
                                   type: 'POST',
                                   dataType: 'json',
                                   data: {
                                        material_id: material_id,
                                   },
                                   beforeSend: function () {
                                        console.log('buscando...');
                                   }.bind(this),
                                   success: function (respuesta) {
                                        this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                                        this.formHelper.handler_errores(respuesta.errores);
                                        if(!respuesta.error){
                                             this.cargar_lista();
                                        }
                                   }.bind(this),
                                   error: function (xhr, status) {
                                        console.log('Error en la solicitud');
                                   },
                                   complete: function () {
                                        console.log('busqueda finalizada');
                                   }.bind(this)
                              })   ;
                    }
               });
          }
     },
     created: function () {
          this.cargar_lista();
          Event.$on('recargar_modulos', () => {
               this.cargar_lista();
          });
     },
     computed: {
          draggingInfo() {
               return this.dragging ? "under drag" : "";
          }
     },
}
</script>
<style >
</style>
