<template>
     <div class="row">
          <div class="col-md-12">
               <button type="button" v-if="!poder_editar()" class="btn btn-warning pull-right" @click.prevent="editar_material_relacionado()"><i class="fa fa-plus"></i>   Nuevo material</button>
          </div>
          <div class="clearfix"></div>
          <div class="d-flex col-md-3" style="" v-for="(profesor, index) in this.profesores" :key="index">
               <div class="v-card--plan mx-auto pt-3 pb-4 px-2 text-center v-card v-sheet theme--light" style="max-width: 100%; border: 2px solid #ddd; border-radius: 5px;">
                    <div class="body-2 text-uppercase grey--text">{{ profesor.nombre }}</div>
                    <div class="v-avatar" style="height: 130px; min-width: 130px; width: 130px; margin:0 auto;">
                         <img v-if="profesor.tipo_archivo == 'pdf'" src="https://www.zamzar.com/images/filetypes/pdf.png" class="img-fluid" alt="...">
                         <img v-else-if="profesor.tipo_archivo == 'office'" src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/microsoft-office-512.png" class="img-fluid" alt="...">
                         <img v-else src="https://cdn2.iconfinder.com/data/icons/minimal-4/100/play-512.png" class="img-fluid" alt="...">
                    </div>
                    <div class="v-card__text body-1 font-weight-light pa-1">{{ profesor.descripcion }}</div>
                    <button v-if="!poder_editar()" type="button" class="btn btn-sm  btn-success " @click.prevent="editar_material_relacionado(profesor.id)"><i class="fa fa-edit"></i>   Editar <div class="ripple-container"></div></button>

                    <button v-if="!poder_editar()" type="button" class="btn btn-sm btn-danger " @click.prevent="eliminar_relacionados(profesor.id)"><i class="fa fa-trash"></i>   Eliminar</button>

                    <button type="button" v-if="poder_editar()" class="btn btn-sm btn-info " @click.prevent="editar_material_relacionado(profesor.id)"><i class="fa fa-eye"></i>   Ver modulo</button>

               </div>
          </div>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'

export default {
     name: 'lista-relacionados',
     props: ['cursoid'],
     data: function () {
          return {
               profesores: [],
               formHelper: new FormHelper()
          }
     },
     methods: {
          editar_material_relacionado: function($id = false){
               Event.$emit('editar_material_relacionado', $id);
          },
          poder_editar: function() {
               if (_rol_id == 2) {
                    return true;
               }else if (_rol_id == 3) {
                    return true;
               }else{
                    return false;
               }
          },
          cargar_lista: function() {

               let loader = this.$loading.show({
                    color: '#529AD5',
                    canCancel: false,
                    loader: 'spinner',
                    width: 120,
                    height: 120,
                    backgroundColor: '#ffffff',
                    opacity: 0.5,
                    zIndex: 1300,
               });

               $.ajax({
                    url: base_url +'/relacionados/get_relacionados',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                         cursoId: this.cursoid,
                    },
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         this.profesores = response;
                         loader.hide()
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });
          },
          eliminar_relacionados: function(relacionados_id) {
               this.$swal({
                    title: 'Eliminar material relacionado',
                    text: "¿ desea eliminar el material relacionado ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    console.log(result);
                    if(result.value == true){
                         $.ajax({
                              url: base_url +'/relacionados/eliminar_relacionados',
                              type: 'POST',
                              dataType: 'json',
                              data: {
                                   relacionados_id: relacionados_id,
                              },
                              beforeSend: function () {
                                   console.log('buscando...');
                              }.bind(this),
                              success: function (respuesta) {
                                   this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                                   this.formHelper.handler_errores(respuesta.errores);
                                   if(!respuesta.error){
                                        this.cargar_lista();
                                   }
                              }.bind(this),
                              error: function (xhr, status) {
                                   console.log('Error en la solicitud');
                              },
                              complete: function () {
                                   console.log('busqueda finalizada');
                              }.bind(this)
                         })   ;
                    }
               });
          }
     },
     created: function () {
          this.cargar_lista();
          Event.$on('recargar_materiales_relacionados', () => {
               this.cargar_lista();
          });
     }
}
</script>
<style >
</style>
