<template>
     <div class="modal fade" id="modal_examen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="myModalLabel" > Preguntas evaluación </h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                              <div class="col-md-12">
                                   <button type="button" class="btn btn-warning pull-right" @click.prevent="ver_modal_preguntas()"><i class="fa fa-plus"></i>   Nueva pregunta</button>
                              </div>
                              <div class="clearfix"></div>
                              <div class="col-md-12" v-if="this.preguntas.length == 0">
                                   <br>
                                   <div  class="alert alert-info" role="alert">
                                        Sin preguntas
                                   </div>
                                   <br>
                              </div>
                              <draggable :list="this.preguntas" @end="checkMove" style="width:100%;" >

                                   <div class="col-md-12" v-for="(pregunta, index) in this.preguntas" :key="index" >
                                        <div class="card" style="margin-top: 45px;">
                                             <div class="card-header card-header-info" style="background: linear-gradient(90deg,#27adc2,#acdce2);" >
                                                  <h4 class="card-title">
                                                       <span v-if="pregunta.catalogo_preguntas == 1 || pregunta.catalogo_preguntas == 3 || pregunta.catalogo_preguntas == 4
                                                       || pregunta.catalogo_preguntas == 5
                                                       || pregunta.catalogo_preguntas == 6">
                                                            {{ pregunta.titulo }}
                                                       </span>
                                                       <span v-if="pregunta.catalogo_preguntas == 2" v-html="pregunta.descripcion" class="span_desc">
                                                       </span>
                                                       <br>
                                                       <button type="button" class="btn btn-sm btn-danger pull-right"  @click.prevent="eliminar_pregunta(pregunta.id)"><i class="fa fa-trash"></i>  Eliminar </button>
                                                       <button type="button" class="btn btn-sm btn-success pull-right" @click.prevent="ver_modal_preguntas(pregunta.id, pregunta.catalogo_preguntas)"><i class="fa fa-edit"></i>  Editar </button>
                                                  </h4>
                                             </div>
                                             <div class="card-body" >
                                                  <div class="col-md-12">
                                                       <div class="card" >
                                                            <div class="card-body">
                                                                 <p v-for="(preg_hijo, index2) in pregunta.pregunta_hijo" :key="index2"  >
                                                                      {{ preg_hijo.titulo }}
                                                                      <span v-for="resp in preg_hijo.respuestas" :class=" resp.correcta == 1 ? 'text-success': '' "   ><br>{{ resp.opcion }}</span>
                                                                 </p>
                                                                 <p v-for="(respuestas, index) in pregunta.respuestas" :key="index" :class=" respuestas.correcta == 1 ? 'text-success': '' " > <strong> Opcion: </strong> {{ respuestas.opcion }} </p>

                                                            </div>

                                                       </div>
                                                  </div>
                                             </div>

                                        </div>

                                   </div>
                              </draggable>
                         </div>
                         <div class="col-md-12 text-right">
                              <button class="btn btn-default" @click.prevent="cerra_modal()">Cerrar</button>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>


</form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js';
import draggable from 'vuedraggable'



export default {
     name: 'preguntas-examen',
     components: {
           draggable,
     },
     data: function () {
          return {
               examen_id:'',
               preguntas: [{
                    pregunta_hijo: [{
                         respuestas:[]
                    }]
               }],
               formHelper: new FormHelper()
          }
     },
     methods: {
          checkMove: function(e) {
               console.log(this.modulos);
               $.ajax({
                    url: base_url +'/preguntas/orden_preguntas_material',
                    data: {list:this.preguntas},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {

                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                    }.bind(this)
               });
           },
          cerra_modal: function(){
               $('#modal_examen').modal('hide');
          },
          ver_modal_preguntas: function( $pregunta_id = false, $tipo_examen = false){
               this.cerra_modal();
               Event.$emit('ver_modal_preguntas_examen', {'pregunta_id' : $pregunta_id, 'examen_id': this.examen_id, 'catalogo_preguntas': $tipo_examen});

          },
          enviar: function () {
               $.ajax({
                    url: base_url +'/cursos/data_form',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              window.location.replace("/cursos");
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          get_modulo: function () {
               let loader = this.$loading.show({
                    color: '#529AD5',
                    canCancel: false,
                    loader: 'spinner',
                    width: 120,
                    height: 120,
                    backgroundColor: '#ffffff',
                    opacity: 0.5,
                    zIndex: 1300,
               });

               $.ajax({
                    url: base_url +'/preguntas/get_preguntas_examen',
                    data: {examen_id: this.examen_id},
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {

                         this.preguntas = respuesta;
                         loader.hide();
                    }.bind(this),
                    error: function (xhr, status) {
                         // toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          },
          eliminar_pregunta: function(pegunta_id) {
               this.$swal({
                    title: 'Eliminar pregunta',
                    text: "¿ desea eliminar la pregunta ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    if(result.value == true){
                         $.ajax({
                              url: base_url +'/preguntas/eliminar_pregunta',
                              type: 'POST',
                              dataType: 'json',
                              data: {
                                   pregunta_id: pegunta_id,
                              },
                              beforeSend: function () {
                                   console.log('buscando...');
                              }.bind(this),
                              success: function (respuesta) {
                                   this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                                   this.formHelper.handler_errores(respuesta.errores);
                                   if(!respuesta.error){
                                        this.get_modulo();
                                   }

                              }.bind(this),
                              error: function (xhr, status) {
                                   console.log('Error en la solicitud');
                              },
                              complete: function () {
                                   console.log('busqueda finalizada');
                              }.bind(this)
                         })   ;
                    }
               });
          }
     },
     created: function () {
          Event.$on('preguntas_examen_modulo', ($examen_id) =>
          {
               this.examen_id = $examen_id;
               this.get_modulo();
               $('#modal_examen').modal('show');
          });
          Event.$on('publicar-archivo-relacionado', (archivo) =>
          {
               console.log('paso');
               console.log(archivo);
               console.log(archivo.data.archivo);
               this.form.foto = archivo.data.archivo;
               console.log(archivo);
          });
     }
}
</script>
<style media="screen">
@media (min-width: 620px) {
     .img_fot{
          max-width: 500px;
     }
}
input.display-time{
     width: 100% !important;
     border-left: 0px !important;
     border-right: 0px !important;
     border-top: 0px !important;
     border-top: 0px !important;
}
span.time-picker{
     width: 100%;
}

.ve-design{
     min-height: 250px;
}

span.span_desc{
     font-size: 12px !important;
}

.modal{
          overflow-y: auto !important;
}
</style>
