<template>
     <div class="form-group pull-left col-12 bor">
          <label><strong>Cliente :</strong>  {{ this.cliente.username }}</label><br>
          <toggle-button
               :value="inscrito"
               @change="cambiar()"
               :sync="true"
               :labels="{checked: 'On', unchecked: 'Off'}"
          />
          <button type="button" v-if="inscrito" @click.prevent="reiniciar_curso( cliente, curso_id)" class="btn btn-danger btn-sm pull-right m-t"><i class="fa fa-history"></i> Reiniciar curso</button>
     </div>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'
import { ToggleButton } from 'vue-js-toggle-button'


export default {
     name: 'SwitchCliente',
     components: {
          ToggleButton
     },
     props: ['curso_id', 'cliente'],
     data: function () {
          return {
               inscrito: false,
               ant: false,
               formHelper: new FormHelper(),
          }
     },
     methods: {
          reiniciar_curso: function(cliente, curso) {
               console.log(curso);
               console.log(cliente.id);
               this.$swal({
                    title: '¿ Eliminar progreso ?',
                    html: "Eliminara el progreso de los alumnos del cliente <strong>" + cliente.username+"</strong>" ,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar'
               }).then((result) => {
                    if (result.value) {

                         $.ajax({
                             url: base_url +'/cursos/eliminar_registro_curso_cliente/',
                             type: 'POST',
                             dataType: 'json',
                             data: {
                                  'curso_id': this.curso_id,
                                  'cliente': this.cliente.id
                             },
                             beforeSend: function () {

                             }.bind(this),
                             success: function (respuesta) {
                                  this.$swal({
                                       title: '',
                                       type: 'success',
                                       text: respuesta.mensaje,
                                  }).then(function() {
                                           Event.$emit('recargar_inscripciones');
                                   });
                             }.bind(this),
                             error: function (xhr, status) {
                                toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                             }.bind(this),
                             complete: function () {
                             }.bind(this)
                         });

                    }
               })
          },
          cambiar: function() {
               $.ajax({
                   url: base_url +'/cursos/inscribir_en_curso/',
                   type: 'POST',
                   dataType: 'json',
                   data: {
                        'curso_id': this.curso_id,
                        'cliente': this.cliente.id
                   },
                   beforeSend: function () {

                   }.bind(this),
                   success: function (respuesta) {
                        this.$swal({
                             title: '',
                             type: 'success',
                             text: respuesta.mensaje,
                        }).then(function() {
                                 Event.$emit('recargar_inscripciones');
                         });
                   }.bind(this),
                   error: function (xhr, status) {
                       toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                   }.bind(this),
                   complete: function () {
                   }.bind(this)
               });


          },
          cargar : function() {
               $.ajax({
                    url: base_url +'/cursos/cliente_inscrito_en_curso',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                         'curso_id': this.curso_id,
                         'cliente': this.cliente.id
                    },
                    beforeSend: function () {
                         console.log('buscando...');
                    }.bind(this),
                    success: function (response) {
                         console.log(response);
                         if (response) {
                              this.inscrito = true;
                              this.ant = true;
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         console.log('Error en la solicitud');
                    },
                    complete: function () {
                         console.log('busqueda finalizada');
                    }.bind(this)
               });

          }
     },
     created: function () {
          this.cargar();
     }

}
</script>

<style>
.pull-left{
     text-align: left !important;
}
.bor{
     border: 1px solid #ddd;
     padding: 10px;
     border-radius: 4px;
}
.m-t{
     margin-top: -15px;
}

</style>
