<template>

     <tabla-cascaron :total_columns="1">
          <template slot="tbody" slot-scope="{ data }">

               <button type="button" @click.prevent="cambiar_vista('table')" :disabled="view == 'table'" class="btn btn-info float-left" name="button"><i class="fa fa-table"></i></button>
               <button type="button" @click.prevent="cambiar_vista('lista')" :disabled="view == 'lista'" class="btn btn-info" name="button"><i class="fa fa-list"></i></button>

               <tr>
                    <td>
                         <div class="container">
                              <div class="row" v-if="view == 'table'">
                                   <div class="col-md-4 col-sm-6" v-for="(dato, index) in data" :key="dato.id">
                                        <div class="card text-white" >
                                             <video class="card-img" v-if="dato.tipo_archivo == 'video'"  style="height:200px;" :src="myImageSource(dato.imagen)" controls controlsList="nodownload"></video>
                                             <img v-else class="card-img" :src="myImageSource(dato.imagen)" alt="Card image" style="height:200px;">
                                             <div class="card-body">
                                                  <h4 class="card-title">{{ dato.nombre }}</h4>
                                             </div>
                                             <div class="card-footer" >
                                                  <div class="col-md-12">
                                                       <a href="#" v-if="ver_botones()" class="btn btn-default btn-sm btn-block" @click.prevent="clonar(dato.id)" > <i class="material-icons">backup</i> Clonar curso</a>
                                                       <a href="#" class="btn btn-info btn-sm btn-block" @click.prevent="editar(dato.id)" > <i class="material-icons">edit</i> Editar portada</a>
                                                       <a href="#" class="btn btn-primary btn-sm btn-block" @click.prevent="media(dato.id)"> <i class="material-icons">developer_board</i> Contenido / media</a>
                                                       <a href="#" class="btn btn-success btn-sm btn-block" @click.prevent="dashboard(dato.id)"><i class="material-icons">show_chart</i> Reporte </a>
                                                       <a href="#" v-if="ver_botones()" class="btn btn-danger btn-sm btn-block"  @click.prevent="eliminar(dato.id)"><i class="material-icons">delete</i> Eliminar</a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="row" v-else>
                                   <div class="col-md-12" v-for="(dato, index) in data" :key="dato.id">
                                        <div class="row" style="border: 1px solid #ddd; margin: 10px; border-radius: 5px;     padding: 10px;">
                                             <div class="col-md-12">
                                                  <div class="well well-sm">
                                                       <div class="row">
                                                            <div class="col-xs-3 col-md-3 text-center">
                                                                 <video class="card-img" v-if="dato.tipo_archivo == 'video'"  style="height:200px;" :src="myImageSource(dato.imagen)" controls controlsList="nodownload"></video>
                                                                 <img v-else class="card-img" :src="myImageSource(dato.imagen)" alt="Card image" style="height:200px;">
                                                            </div>
                                                            <div class="col-xs-9 col-md-9 section-box">
                                                                 <h2>
                                                                      {{ dato.nombre }}
                                                                 </h2>
                                                                 <hr />
                                                                 <div class="row rating-desc">
                                                                      <div class="col-md-12">
                                                                           <div class="row">
                                                                                <div class="col-md-6">
                                                                                     <a href="#" class="btn btn-info btn-sm btn-block col-xs-6" @click.prevent="editar(dato.id)" > <i class="material-icons">edit</i> Editar portada</a>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                     <a href="#" class="btn btn-primary btn-sm btn-block col-xs-6" @click.prevent="media(dato.id)"> <i class="material-icons">developer_board</i> Contenido / media</a>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                     <a href="#" class="btn btn-success btn-sm btn-block col-xs-6" @click.prevent="dashboard(dato.id)"><i class="material-icons">show_chart</i> Reporte </a>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                     <a href="#" v-if="ver_botones()" class="btn btn-danger btn-sm btn-block col-xs-6"  @click.prevent="eliminar(dato.id)"><i class="material-icons">delete</i> Eliminar</a>
                                                                                </div>
                                                                           </div>

                                                                      </div>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                       </div>
                                                  </div>
                                                  <div class="clearfix">

                                                  </div>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </td>
               </tr>
          </template>
     </tabla-cascaron>
</template>

<script>
import TablaCascaron from '../../generales/TablaCascaron.vue';

export default {
     name: 'tabla-cursos',
     components: { TablaCascaron },
     props: {
          dir_archives: {
               required: true
          }
     },
     data: function () {
          return {
               view : 'table',
          }
     },
     methods: {
          myImageSource: function(img = false) {
               return img ? this.dir_archives+'/principal/'+img : 'http://www.losprincipios.org/images/default.jpg';
          },
          dashboard: function(id) {
               console.log(id);
               window.location.href = base_url + "cursos/reporte/"+id;
          },
          clonar: function(id) {
               console.log(id);
               window.location.href = base_url + "cursos/clonar_curso/"+id;
          },
          media: function(id) {
               console.log(id);
               window.location.href = base_url + "cursos/media/"+id;
          },
          editar: function(id) {
               console.log(id);
               window.location.href = base_url + "cursos/form/"+id;
          },
          ver_botones: function() {
               if (_rol_id == 2) {
                    return false;
               }else if (_rol_id == 3) {
                    return false;
               }else{
                    return true;
               }
          },
          cambiar_vista: function($type) {
               this.view = $type;
          },
          eliminar: function(id) {
               this.$swal({
                    title: 'Eliminar curso',
                    text: "¿ desea eliminar el curso ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    console.log(result);
                    if(result.value == true){
                         $.ajax({
                              url: base_url +'/cursos/eliminar_curso/'+id,
                              type: 'GET',
                              dataType: 'json',
                              beforeSend: function () {

                              }.bind(this),
                              success: function (respuesta) {
                                   this.$swal({
                                        title: '',
                                        type: 'success',
                                        text: respuesta.mensaje,
                                   }).then(function() {
                                        window.location.replace(base_url + "cursos");
                                   });
                              }.bind(this),
                              error: function (xhr, status) {
                                   toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                              }.bind(this),
                              complete: function () {
                              }.bind(this)
                         });
                    }
               });

          }
     },
}
</script>
