<template>
    <div class="filters-box">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Buscar</label>
                    <div class="row">
                         <div class="col-md-9" style=" padding-right: 0px;">
                              <input type="text" class="form-control" v-model="form.buscar" placeholder="Nombre, SAE, correo, RFC...">
                         </div>
                         <div class="col-md-3" style=" padding-left: 0px;">
                              <button type="button" @click.prevent="limpiar_buscar" class="btn btn-primary" style=" border-radius: 0px 3px 3px 0px;">Limpiar</button>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label>Estatus</label>
                    <select class="form-control" v-model="form.estatus">
                        <option value="" selected>Todos</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                        <option value="2">Moroso</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 pull-right">
                <div class="form-group">
                    <label class="invisible">cancelar</label>
                    <button class="btn btn-default btn-block" @click.prevent="limpiar_filtros">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button class="btn btn-info" v-on:click="exportar"><i class="fa fa-download"></i> Exportar</button>
            </div>
        </div>
    </div>
</template>

<script>
import { tablaFiltros } from '../../../core/FiltrosTabla';

export default{
     name: 'filtros-tabla-usuarios',
     mixins: [ tablaFiltros ],
     props: {
          filtro: {
               type: Object,
               required: true
          }
     },
     data: function () {
          return {
               controller: '/admin/clientes/get_clientes',
               form: {
                    buscar: '',
                    estatus: '',
                    range: []
               }
          }
     },
     methods: {
          exportar: function() {
               //console.log(JSON.stringify(this.$data.form));
               let url = "/admin/tools/exportar_clientes?buscar=" + encodeURIComponent(this.$data.form.buscar) + "&estatus=" + this.$data.form.estatus;
               window.open(url, '_blank');
          },
          limpiar_buscar: function () {
             this.form.buscar = '';
          }
     },
     created() {
          this.form.estatus = this.filtro.estatus;
          if (this.filtro.buscar !== "" ) {
               this.form.buscar = this.filtro.buscar;
          }
     }
}
</script>
