<template>
     <div class="row">
          <div class="col-sm-12">
               <div class="form-group">
                    <label>Buscar</label>
                    <div class="input-group">
                         <input type="text" placeholder="Clave" v-model="search" class="form-control input-md" @keyup="buscar_en_array()">
                         <div class="input-group-btn">
                              <button class="btn btn-md btn-primary" v-if="!search">
                                   buscar
                              </button>
                              <button class="btn btn-md btn-primary" v-else @click="search = ''; pagination(); ">
                                   X
                              </button>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-md-12">
               <div class="table-responsive">
                    <table class="table table-bordered table-stripped" style="margin: 0;" id="table-productos_step_3">
                         <thead>
                              <tr>
                                   <th>Clave</th>
                                   <th>Descripción</th>
                                   <th class="text-center">Suma Unidades</th>
                                   <th class="text-center">Cantidad Pedidos</th>
                                   <th class="text-center">Último Pedido Entregado</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr v-for="producto in productos" :class="producto.visibility ">
                                   <td>{{ producto.clave }}</td>
                                   <td>{{ producto.descripcion }}</td>
                                   <td class="text-center">{{ producto.suma_productos }}</td>
                                   <td class="text-center">{{ producto.num_pedidos }}</td>
                                   <td class="text-center">{{ producto.fecha }}</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>


          <div class="col-md-12 text-center">
               <ul class="pagination" v-if="! ((search != '') )">
                    <li :class="page_active == 1  ? 'footable-page-arrow disabled' : 'footable-page-arrow'"><a data-page="first" href="#" @click="page_active = 1 ">«</a>
                    </li>
                    <li :class="page_active == 1  ? 'footable-page-arrow disabled' : 'footable-page-arrow'"><a href="#" @click="page_active - 1 != 0  ? page_active -= 1 : 1 ">‹</a>
                    </li>
                    <template v-for="i in Math.ceil(this.productos.length/25)">
                         <li :class="'footable-page' +' '+pag_is_active(i)" @click="page_active = i"><a href="#">{{ i }}</a></li>
                    </template>
                    <li :class="page_active == Math.ceil(productos.length/25) ? 'footable-page-arrow disabled' : 'footable-page-arrow'">
                         <a href="#"
                         @click="page_active + 1 <= Math.ceil(productos.length/25)  ? page_active += 1 : Math.ceil(productos.length/25) ">›</a>
                    </li>
                    <li :class="page_active == Math.ceil(productos.length/25) ? 'footable-page-arrow disabled' : 'footable-page-arrow'">
                         <a @click="page_active = Math.ceil(productos.length/25)" data-page="last" href="#">»</a></li>
                    </ul>
               </div>
          </div>




     </template>

     <script>
     import Catalogos from '../../../core/catalogos.js'
     import TablaTotales from '../../generales/TablaTotales.vue'
     import { mixins }  from '../../../core/mixins.js'
     import '../../../core/filtros.js'
     // Vue.component('v-select', vSelect)

     export default {
          props: ['prop_productos'],
          components: { 'tabla-totales': TablaTotales },
          mixins: [ mixins ],
          data: function () {
               return {
                    productos: this.prop_productos,
                    page_active: '',
                    search: '',
                    mensaje: '',
               }
          },
          methods: {
               pag_is_active: function (pag) {
                    if(pag === this.page_active){
                         return 'active';
                    }
                    return '';
               },
               pagination: function(){
                    let start = (this.page_active*25)-25;
                    let end = (this.page_active*25)-1;
                    this.productos.forEach(function(producto, index) {
                         console.log('-----ya-----');
                         console.log(this.page_active);
                         console.log(start);
                         console.log(end);
                         console.log(index);
                         console.log('-----no-----');

                         if(index >= start && index <= end){
                              this.productos[index].visibility = ' ';
                         }else{
                              this.productos[index].visibility = 'hidden';
                         }
                    }.bind(this));
               },
               buscar_en_array: function (value) {
                    if (this.search === '' ) {
                         this.pagination();
                    } else {
                         var sustancias_activas = [];
                         var items_showed = 0;
                         $.grep(this.productos, function (dt) {
                              //Solo filtro de fabricante
                              if(this.search != ''){
                                   console.log('1');

                                   //Se aplica solo filtro de búsqueda
                                   if (
                                        dt.clave.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(this.search.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "")) != -1
                                   ) {
                              console.log('2');
                                        dt.visibility = ' ';
                                        items_showed++;
                                        sustancias_activas.push(dt.sustancia);
                                   }else{
                                        dt.visibility = 'hidden';
                                   }
                              }else{
                                   dt.visibility = ' ';
                              }
                         }.bind(this));

                    }
               },
          },
          watch: {
              productos: {
                  handler: function (productos) {
                      Event.$emit('productos-para-confirmar', productos);
                  },
                  deep: true
              },
              page_active: function (page) {
                  this.pagination();
              }
          },
          mounted: function () {
              this.productos.forEach(function(producto) {
                  /*Vue.set(producto, 'cantidad', 0);
                  Vue.set(producto, 'a_suritr', 0);*/
                  Vue.set(producto, 'visibility', 'hidden');
              });
              Vue.set(this.$data, 'page_active', 1);
              this.catalogos.get_estatus_pedidos();
          }
     }
     </script>

     <style>
     .confirm{
          float: left !important;
          font-size: 13px !important;
     }
     .cancel{
          font-size: 13px !important;
     }
     .table {
          margin: 0;
     }
     .nowrap {
          white-space:nowrap;
     }
     .help {cursor: help;}

     </style>
