<template>
    <tabla-cascaron :total_columns="7">
        <template slot="theader">
            <tr>
                <th>SAE</th>
                <th>Razón Social</th>
                <th>Asesor</th>
                <th>Estatus</th>
                <th>Último pedido</th>
                <th>Fecha de registro</th>
                <th>Lista precios</th>
                <th>Productos Autorizados</th>
                <th>Días de crédito</th>
                <th>Límite de crédito</th>
                <th class="text-center"><i class="fa fa-cogs"></i></th>
            </tr>
        </template>
        <template slot="tbody" slot-scope="{ data }">
            <tr v-for="(dato, index) in data" :key="dato.id">
                <td>
                    <span class="text-warning" v-if="dato.password == ''">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    {{ dato.sae }}
                    <span class="badge badge-info" v-if="Number(dato.nuevo)">
                        Nuevo
                    </span>
                </td>
                <td v-text="dato.razon_social"></td>
                <td v-text="dato.id_asesor ? dato.nombre_asesor : 'Sin asignar' "></td>
                <td v-text="Number(dato.estatus) ? (Number(dato.estatus) == 2 ? 'Moroso' : 'Activo') : 'No activo' "></td>
                <td v-text="dato.fecha_ultimo_pedido"></td>
                <td v-text="dato.fecha_creacion"></td>
                <td>{{ dato.lista_precios }}</td>
                <td>
                    <span class="badge badge-default" v-if="Number(dato.grupo_autorizado_1)">Grupo I</span>
                    <span class="badge badge-default" v-if="Number(dato.grupo_autorizado_2)">Grupo II y III</span>
                    <span class="badge badge-default" v-if="Number(dato.grupo_autorizado_3)">Medicamentos</span>
                    <span class="badge badge-default" v-if="Number(dato.linea_especiales_autorizada)">Especiales</span>
                    <span class="badge badge-default" v-if="Number(dato.linea_gobierno_autorizada)">Gobierno</span>
                </td>
                <td class="text-right">{{ dato.dias_credito }}</td>
                <td class="text-right">
                    <span v-if="dato.limite_credito">{{ dato.limite_credito | dinero }}</span>
                    <span v-else>{{ dato.limite_credito }}</span>
                </td>
                <td>
                    <a class="btn btn-xs btn-success" :href="'/admin/clientes/form/'+dato.id">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        </template>
    </tabla-cascaron>
</template>

<script>
    import TablaCascaron from '../../generales/TablaCascaron.vue';

    export default {
        name: 'tabla-clientes',
        components: { TablaCascaron }
    }
</script>
