<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">Comentario para el email de confirmación</a>
            </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true" style="">
            <div class="panel-body">
                <textarea style="width: 100%"  rows="6" v-model="pedido.comentario_mail_confirmacion" :disabled="se_puede_actualizar()"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['prop_pedido'],
        data: function () {
            return {
                pedido: this.prop_pedido
            }
        },
        methods:{
            se_puede_actualizar: function() {
                if (this.pedido.estatus == 1) {
                    return false;
                }
                return true;
            }
        },
        watch: {
            pedido: {
                handler: function (pedido) {
                    Event.$emit('comentario-email', pedido.comentario_mail_confirmacion);
                },
                deep: true
            },
        },
    }
</script>

<style>
    .panel{

        margin-top: 20px;
    }
</style>