<template>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Clave</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Clave" v-model="form.clave" @keydown="formHelper.errores.clear('clave')">
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('clave')"
                       v-show="formHelper.errores.has('clave')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Descripción" v-model="form.descripcion" @keydown="formHelper.errores.clear('descripcion')">
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('descripcion')"
                       v-show="formHelper.errores.has('descripcion')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Sustancia</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Sustancia" v-model="form.sustancia" @keydown="formHelper.errores.clear('sustancia')">
                <small classz="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('sustancia')"
                       v-show="formHelper.errores.has('sustancia')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Fabricante</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.fabricante_id" @change="formHelper.errores.clear('fabricante_id')">
                    <option value="" disabled>Selecciona uno:</option>
                    <option v-for="(fabricante, index) in catalogos.fabricantes" :value="index">{{ fabricante }}
                    </option>
                </select>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('fabricante_id')"
                       v-show="formHelper.errores.has('fabricante_id')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Línea</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Línea" v-model="form.linea" @keydown="formHelper.errores.clear('linea')">
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('linea')"
                       v-show="formHelper.errores.has('linea')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Código de barras</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Código de barras" v-model="form.codigo_barras" @keydown="formHelper.errores.clear('codigo_barras')">
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('codigo_barras')"
                       v-show="formHelper.errores.has('codigo_barras')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Estatus</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.estatus" @change="formHelper.errores.clear('estatus')">
                    <option value="" disabled>Selecciona uno:</option>
                    <option v-for="(estatu, index) in catalogos.estatus_productos" :value="index">{{ estatu }}
                    </option>
                </select>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('estatus')"
                       v-show="formHelper.errores.has('estatus')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Unidad de medida</label>
            <div class="col-sm-10">
                <select class="form-control" v-model="form.unidad_id" @change="formHelper.errores.clear('unidad_id')">
                    <option value="" disabled>Selecciona uno:</option>
                    <option v-for="(unidad, index) in catalogos.catalogo_unidades_medida" :value="index">{{ unidad }}</option>
                </select>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('unidad_id')"
                       v-show="formHelper.errores.has('unidad_id')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Clave de esquema (IVA)</label>
            <div class="col-sm-10">
                <input type="checkbox" class="js-switch" v-model="form.iva"/>
                <span v-text="'Clave ' + (form.iva ? '10 (con' : '9 (sin') + ' IVA)'"> 9 (Sin IVA)</span>

            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Publico (P)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_1"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_1')"
                       v-show="formHelper.errores.has('precio_1')">
                    </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Mínimo (M)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_2"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_2')"
                       v-show="formHelper.errores.has('precio_2')">
                    </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Visitante (V)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_3"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_3')"
                       v-show="formHelper.errores.has('precio_3')">
                    </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Gobierno (G)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_4"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_4')"
                       v-show="formHelper.errores.has('precio_4')">
                    </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Lista 1 (1)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_5"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_5')"
                       v-show="formHelper.errores.has('precio_5')">
                    </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Lista 2 (2)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_6"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_6')"
                       v-show="formHelper.errores.has('precio_6')">
                    </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Lista 3 (3)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_7"></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_7')"
                       v-show="formHelper.errores.has('precio_7')">
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Precio Lista 4 (4)</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <vue-numeric class="form-control" :precision="2" v-model="form.precio_8" ></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                       v-text="formHelper.errores.get('precio_8')"
                       v-show="formHelper.errores.has('precio_8')">
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Disponibles</label>
            <div class="col-sm-10">
                <div class="input-group m-b">
                    <vue-numeric class="form-control" :precision="0" v-model="form.disponibles" ></vue-numeric>
                </div>
                <small class="help-block m-b-none text-danger"
                      v-text="formHelper.errores.get('disponibles')"
                      v-show="formHelper.errores.has('disponibles')">
                </small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a :href="'/admin/productos'" class="btn btn-default">Regresar</a>
                <button type="button" class="btn btn-primary" @click.prevent="enviar">Guardar</button>
            </div>
        </div>
    </form>

</template>

<script>
    import FormHelper from '../../core/FormHelper.js'
    import Catalogos from '../../core/catalogos.js'
    import VueNumeric from 'vue-numeric'

    export default {
        props: ['prop_producto'],
        components: { VueNumeric },
        data: function () {
            return {
                form: {
                    id: this.prop_producto.id,
                    clave: this.prop_producto.clave,
                    descripcion: this.prop_producto.descripcion,
                    sustancia: this.prop_producto.sustancia,
                    unidad_id: this.prop_producto.unidad_id,
                    fabricante_id: this.prop_producto.fabricante_id,
                    linea: this.prop_producto.linea,
                    codigo_barras: this.prop_producto.codigo_barras,
                    estatus: this.prop_producto.estatus,
                    iva: Number(this.prop_producto.iva),
                    precio_1: this.prop_producto.precio_1,
                    precio_2: this.prop_producto.precio_2,
                    precio_3: this.prop_producto.precio_3,
                    precio_4: this.prop_producto.precio_4,
                    precio_5: this.prop_producto.precio_5,
                    precio_6: this.prop_producto.precio_6,
                    precio_7: this.prop_producto.precio_7,
                    precio_8: this.prop_producto.precio_8,
                    disponibles: this.prop_producto.disponibles,
                },
                catalogos: new Catalogos,
                formHelper: new FormHelper(),
                is_sending: false
            }
        },
        methods: {
            enviar: function () {
                $.ajax({
                    url: '/admin/productos/storage',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                        this.is_sending = true;
                    },
                    success: function (respuesta) {
                        this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                        this.formHelper.handler_errores(respuesta.errores);
                        if(!respuesta.error){ window.location.replace('/admin/productos')}
                    }.bind(this),
                    complete: function () {
                        this.is_sending = false
                    }
                });
            }
        },
        created(){
            this.catalogos.get_fabricantes();
            this.catalogos.get_estatus_productos();
            this.catalogos.get_catalogo_unidades_medida();
        },
        mounted(){
            new Switchery(document.querySelector('.js-switch'));
        }
    }
</script>

<style>
    .m-b {
         margin-bottom: 0 !important;
    }
</style>
