<template>


</template>

<script>

    import Catalogos from '../../core/catalogos.js'

    export default{
        data: function () {
            return {
                form: {
                }
            }
        },
        methods: {
            enviar_filtros: function () {
                $.ajax({
                    url: '/admin/almacen/',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {

                    },
                    success: function (respuesta) {

                    }.bind(this)
                });
            }
        }
    }
</script>