<template>
     <form>
          <div class="row">
               <div class="col-md-6">
                    <label>Rol</label>
                    <select class="form-control select-css"  v-model="form.rol_id" @change="formHelper.errores.clear('rol_id')">
                         <option value="" selected disabled>SELECCIONE UNO:</option>
                         <option :key="index" :value="index" v-for="(rol, index) in prop_catalogos.roles" v-text="rol"></option>
                    </select>
                    <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('rol_id')" v-show="formHelper.errores.has('rol_id')"></small>
               </div>
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Activo</label>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Nombre</label>
                         <input type="text" class="form-control" placeholder="Apellidos" v-model="form.nombre" @keydown="formHelper.errores.clear('nombre')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('nombre')" v-show="formHelper.errores.has('nombre')"></small>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Apellidos</label>
                         <input type="text" class="form-control" placeholder="Nombre" v-model="form.apellidos" @keydown="formHelper.errores.clear('apellidos')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('apellidos')" v-show="formHelper.errores.has('apellidos')"></small>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Email</label>
                         <input type="email" class="form-control" placeholder="Correo electrónico" v-model="form.email" @keydown="formHelper.errores.clear('email')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('email')" v-show="formHelper.errores.has('email')"></small>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Username</label>
                         <input type="text" class="form-control" placeholder="Username" v-model="form.username" @keydown="formHelper.errores.clear('username')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('username')" v-show="formHelper.errores.has('username')"></small>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Nueva Contraseña</label>
                         <input type="password" class="form-control" placeholder="Contraseña" v-model="form.email" @keydown="formHelper.errores.clear('email')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('email')" v-show="formHelper.errores.has('email')"></small>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="form-group">
                         <label>Confirmar contraseña</label>
                         <input type="password" class="form-control" placeholder="Confirmar contraseña" v-model="form.username" @keydown="formHelper.errores.clear('username')">
                         <small class="help-block m-b-none text-danger" v-text="formHelper.errores.get('username')" v-show="formHelper.errores.has('username')"></small>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-12">
                    <div class="form-group">
                         <a :href="'../'" class="btn btn-default">
                              Cancelar
                         </a>
                         <button type="button" class="btn btn-success" :disabled="formHelper.enviando || formHelper.errores.any()" @click.prevent="enviar">
                              <i class="fa fa-circle-o-notch fa-spin" v-if="formHelper.enviando"></i>
                              Guardar
                         </button>
                    </div>
               </div>
          </div>
     </form>
</template>

<script>
import FormHelper from '../../../core/FormHelper.js'

export default {
     name: 'formulario-usuario',
     props: {
          prop_usuario: {
               required: true
          },
          prop_catalogos:{
               type: Object,
               required: true
          }
     },
     data: function () {
          return {
               form: {
                    id: this.prop_usuario.id,
                    rol_id: this.prop_usuario.rol_id,
                    activo: this.prop_usuario.activo,
                    nombre: this.prop_usuario.nombre,
                    apellidos: this.prop_usuario.apellidos,
                    email: this.prop_usuario.email,
                    password: '',
                    confirm_password: '',
               },
               formHelper: new FormHelper(),
          }
     },
     methods: {
          enviar: function () {
               $.ajax({
                    url: '/usuarios/store',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                         this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                         this.formHelper.handler_errores(respuesta.errores);
                         if(!respuesta.error){
                              window.location.replace(base_url + "usuarios");
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                         this.formHelper.enviando = false;
                    }.bind(this)
               });
          }
     }
}
</script>

<style>


select{
     border-bottom: 1px solid #d2d2d2 !important;
     background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right !important;
}

</style>
