<template>
     <tabla-cascaron :total_columns="6">
          <template slot="theader">
               <tr>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Activo</th>
                    <th class="text-center"></th>
               </tr>
          </template>

          <template slot="tbody" slot-scope="{ data }">
               <tr v-for="(dato, index) in data">
                    <td v-text="dato.nombre_completo"></td>
                    <td v-if="dato.rol_id != 3" v-text="dato.username"></td>
                    <td v-else v-text="dato.empresa.username"></td>
                    <td v-text="dato.email"></td>
                    <td v-text="dato.rol_nombre"></td>
                    <td v-text="Number(dato.activo) ? 'Si' : 'No' "></td>
                    <td class="td-actions text-center">
                         <button @click.prevent="form(dato.id)"  type="button" rel="tooltip" title="" class="btn btn-info btn-link btn-sm" data-original-title="حذف">
                              <i class="material-icons">edit</i>
                              <div class="ripple-container"></div>
                         </button>
                         <button @click.prevent="eliminar(dato.id)"  type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" data-original-title="حذف">
                              <i class="material-icons">delete</i>
                              <div class="ripple-container"></div>
                         </button>

                    </td>
               </tr>
          </template>
     </tabla-cascaron>
</template>

<script>
import TablaCascaron from '../../generales/TablaCascaron.vue';

export default {
     name: 'tabla-usuarios',
     components: { TablaCascaron },
     methods: {
          form: function(id = false) {
               window.location.href = base_url + "/usuarios/editar/"+id;
          },
          eliminar: function(id = false) {
               this.$swal({
                    title: 'Eliminar usuario',
                    text: "¿ desea eliminar el usuario ?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
               }).then((result) => {
                    console.log(result);
                    if(result.value == true){
                         console.log('paso');
                         $.ajax({
                             url: base_url +'/usuarios/eliminar/'+id,
                             type: 'GET',
                             dataType: 'json',
                             beforeSend: function () {

                             }.bind(this),
                             success: function (respuesta) {
                                  this.$swal({
                                       title: '',
                                       type: 'success',
                                       text: respuesta.mensaje,
                                  }).then(function() {
                                       window.location.replace(base_url + "usuarios");
                                   });
                             }.bind(this),
                             error: function (xhr, status) {
                                 toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                             }.bind(this),
                             complete: function () {
                             }.bind(this)
                         });
                    }
               });

          }
     }
}
</script>
