<template>
    <div :class="'panel panel-' + estilo">

        <div class="panel-heading">

            <i :class="'fa ' + icono_encabezado"></i>

            <span v-text="titulo_encabezado"></span>

        </div>

        <div class="panel-body">

            <ul class="list-unstyled">
                <li v-for="(dato, index) in $parent.data">

                    <span :class="'fa '+ dato.icono +' m-r-xs'"></span>

                    <label v-text="dato.nombre"></label>

                    <span class="break-text" v-html="dato.texto"></span>
                </li>
            </ul>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'TarjetaBase',
        props: {
            estilo: {
                type: String,
                default: 'default',
                required: false,
            },
            icono_encabezado: {
                type: String,
                required: true
            },
            titulo_encabezado: {
                type: String,
                required: true
            }
        },
    }
</script>