<template>
     <div class="modal inmodal fade" id="modal_crear_input" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-md">
               <div class="modal-content">

                    <div class="modal-body">
                         <div class="alert alert-danger" v-if="hay_errores">
                              <p v-for="value in form_errors">
                                   {{ value }}
                              </p>
                         </div>
                         <div class="row">
                              <div class="col-md-6">
                                   <div class="form-group">
                                        <label>Nombre input*</label>
                                        <input type="text" v-model="nombre" class="form-control required" required >
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-white" @click.prevent="cambiar_modal">Cancelar</button>
                         <button type="button" class="btn btn-primary" @click.prevent="agregar"><i class="fa fa-plus"></i> Agregar</button>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
export default {
     props: ['prop_asentamiento', 'prop_estados'],
     data: function () {
          return{
               form:{
                    cp: '',
                    asentamiento: '',
                    tipo_asentamiento: '',
                    municipio: '',
                    estado: ''
               },
               form_errors: [],
               hay_errores : false,
               nuevo: false,
               editar: false,
          }
     },

     methods: {
          agregar: function () {
               $.ajax({
                    url: '/envio/crear_cp/',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.hay_errores = false;
                         this.form_errors = [];
                    },
                    success: function (response) {
                         if(response.error){
                              toastr.error(response.mensaje, 'Hubo un error', {"closeButton": true});
                              if (response.errores) {
                                   this.hay_errores = true;
                                   this.form_errors = response.errores;
                              }
                         }else{
                              this.hay_errores = true;
                              toastr.success(response.mensaje, 'Exito', {"closeButton": true});
                              this.cambiar_modal();
                              this.cp_enviar(this.form.cp);
                              this.reset_form();
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         alert('Disculpe, existió un problema');
                    },
                    complete: function (xhr, status) {
                         console.log('Petición realizada');
                    }
               });
          },
          reset_form: function () {
               this.form.cp = '';
               this.form.asentamiento = '';
               this.form.tipo_asentamiento = '';
               this.form.municipio = '';
               this.form.estado = '';
               this.editar = false;
          },
          get_data_cp: function () {
               $.ajax({
                    url: baseURL + "api/getcp/" + $.trim(this.form.cp),
                    dataType: "json",
                    success: function (response) {
                         if(response.length){
                              this.nuevo = false;
                              this.editar = true;
                              $.each(response, function (key, value) {
                                   this.form.municipio = value.municipio;
                                   this.form.estado = value.estado;
                              }.bind(this));
                         }else{
                              this.nuevo = true;
                              this.editar = false;
                              this.form.municipio = '';
                              this.form.tipo_asentamiento = '';
                              this.form.estado = '';
                         }
                    }.bind(this),
                    error: function (jqXHR, request) {
                    }
               });
          },
          cambiar_modal: function () {
               $('#myModal6').modal('toggle');

               this.reset_form();

              setTimeout(function() {
                   $('#modalDireccion').modal('toggle');
              }, 500); // milliseconds

         },
         cp_enviar() {
               console.log('ya paso ');
             Event.$emit('cp-fue-recibida', this.form.cp);
        }
     },
}
</script>

<style>

</style>
