<template>
     <div id="ModalUploadSmall" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
          <div class="modal-dialog ">
               <div class="modal-content">
                    <div class="modal-body">
                         <div class="example-simple text-center">
                              <h3 class="example-title" style=" margin: 0px 0 10px;">Subir imagen</h3>
                              <span><strong> Solo imagenes </strong></span>
                              <span v-if="error" class="  badge-danger text-center">Ocurrió un error al subir el archivo.</span>
                              <div class="upload text-center">
                                   <ul>
                                        <li v-for="(file, index) in files" :key="file.id">
                                             <span>{{file.name}}</span> -
                                             <span>{{file.size | formatSize}}</span> -
                                             <span v-if="file.error">{{file.error}}</span>
                                             <span v-else-if="file.success">success</span>
                                             <span v-else-if="file.active">active</span>
                                             <span v-else-if="file.active">active</span>
                                             <span v-else></span>
                                        </li>
                                   </ul>
                                   <div class="example-btn">
                                        <file-upload
                                        class="btn btn-primary"
                                        :post-action=  "url"
                                        extensions="gif,jpg,jpeg,png,webp"
                                        accept="image/png,image/gif,image/jpeg,image/webp"
                                        :multiple="false"
                                        :size="1024 * 1024"
                                        v-model="files"
                                        @input-file="inputFile"
                                        ref="upload">
                                        <i class="fa fa-plus"></i>
                                        Selecciona archivo
                                   </file-upload>
                                   <button type="button" class="btn btn-success" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true">
                                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                        Iniciar la subida
                                   </button>
                                   <button type="button" class="btn btn-danger"  v-else @click.prevent="$refs.upload.active = false">
                                        <i class="fa fa-stop" aria-hidden="true"></i>
                                        Detener carga
                                   </button>
                                   <button type="button" class="btn btn-default" data-dismiss="modal" @click.prevent="cerrar_modal()">Cancelar</button>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

</template>



<script>
import FileUpload from 'vue-upload-component'

export default {
     name: 'ModalUploadSmall',
     components: {
          FileUpload,
     },
     data() {
          return {
               files: [],
               error : false,
               url: base_url+"cursos/upload_presentacion",
          }
     },
     methods: {
          inputFilter(newFile, oldFile, prevent) {
               if (newFile && !oldFile) {
                    // Before adding a file
                    // 添加文件前
                    // Filter system files or hide files
                    // 过滤系统文件 和隐藏文件
                    if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                         return prevent()
                    }
                    // Filter php html js file
                    // 过滤 php html js 文件
                    if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                         return prevent()
                    }
               }
          },
          inputFile(newFile, oldFile) {
               if (newFile && !oldFile) {
                    // add
                    console.log('add', newFile)
               }
               if (newFile && oldFile) {
                    // update
                    if (newFile.success) {
                         var resp = JSON.parse(newFile.response);
                         if (resp.status == 'exito') {
                              Event.$emit('publicar-archivo-small', resp);
                              this.cerrar_modal();
                         }else{
                              this.files = [];
                              this.error = true;
                         }
                    }
                    console.log('update', newFile)
               }
               if (!newFile && oldFile) {
                    // remove
                    console.log('remove');

                    console.log('remove', oldFile)
               }
          },
          cerrar_modal: function() {
               this.files = [];
               $('#ModalUploadSmall').modal('toggle');
          }
     }
}
</script>



<style>
.badge-danger{
     padding: 5px;
     border-radius: 5px;
}
.example-simple label.btn {
     margin-bottom: 0;
     margin-right: 1rem;
}
</style>
