<template>
     <div id="Modaluploadmaterial" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
     <div class="modal-dialog ">
          <div class="modal-content">
               <div class="modal-body">
                    <div class="file">
                         <form @submit.prevent="onSubmit" enctype="multipart/form-data">
                              <div class="fields text-center">
                                   <h5>Subir Video</h5>
                                   <label class="btn btn-primary btn-round">
                                        <i class="material-icons">add_circle_outline</i> Buscar archivo
                                        <input
                                        type="file"
                                        ref="file"
                                        @change="onSelect"
                                        />
                                   </label><br>
                                   <span><strong> PDF / Video .mp4</strong></span>

                              </div>
                              <br>
                              <div class="fields text-center" v-if="file && subir">
                                   <button class="btn btn-success ">
                                        <i class="material-icons">cloud_upload</i> Subir archivo
                                   </button>
                              </div>

                              <progress max="100" class="wid" :value.prop="uploadPercentage"></progress>

                              <div class="message  text-center">
                                   <h5  v-html="message"></h5>
                              </div>

                              <div class=" text-center">
                                   <button type="button" @click.prevent="cerrar_modal()" class="btn btn-danger">Cerrar</button>
                              </div>

                         </form>
                    </div>
               </div>
          </div>
     </div>
</div>

</template>



<script>
import axios from 'axios';

export default {
     name: 'ModalUploadMaterial',
     data() {
          return {
               file:"",
               message:"",
               uploadPercentage: 0,
               subir : true,
               info : [],
               cargador : false
          }
     },
     methods: {
          cerrar_modal(){
               this.file = "";
               this.message = "";
               this.uploadPercentage = 0;
               this.subir = true;
               this.cargador = false;
               console.log('cerro');
               $('#modal_materiales_form').modal('show');
               $('#modal_materiales_form').css('overflowY', 'auto');
               $('#Modaluploadmaterial').modal('hide');
          },
          onSelect(){
               const allowedTypes = ["video/mp4"];
               const file = this.$refs.file.files[0];
               this.file = file;

               if(file.size> 500000000){
                    this.message = 'Too large, max size allowed is 500kb';
                    this.subir = false;
               }else {
                    this.subir = true;
               }
          },
          onSubmit(){
               const formData = new FormData();
               formData.append('file',this.file);
               this.cargador = true;
               try{
                    axios.post( base_url + '/cursos/upload_material/',formData, {
                         onUploadProgress: function( progressEvent ) {
                              this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                         }.bind(this)
                    }).then((data) => {
                         console.log(data);
                         if (data.data.status == 'error') {
                              this.message = data.data.data.mensaje;
                         }else{
                              Event.$emit('archivo-material', data.data);
                              this.cerrar_modal();
                         }
                    });
               }
               catch(err){
                    console.log(err);
                    this.message = err.response.data.error
               }
               this.cargador = false;

          }
     },

}
</script>



<style>
.wid{
     width: 100%;
}
input[type="file"] {
     display: none;
}

.custom-file-upload {
     border: 1px solid #ccc;
     display: inline-block;
     padding: 6px 12px;
     cursor: pointer;
}

</style>
