<template>
     <div class="modal inmodal fade" id="modal_crear_input" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-md">
               <div class="modal-content">
                    <div class="modal-body">
                         <div class="alert alert-danger" v-if="form_errors.length > 0" >
                              <p v-for="value in form_errors">
                                   {{ value }}
                              </p>
                         </div>
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="form-group">
                                        <label>Nombre input*</label>
                                        <input type="text" v-model="form.titulo" class="form-control required" required >
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-white" @click.prevent="cerrar_modal()">Cancelar</button>
                         <button type="button" class="btn btn-primary" @click.prevent="agregar"><i class="fa fa-plus"></i> Agregar</button>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
export default {
     props: ['usuario_id'],
     data: function () {
          return{
               form:{
                    id: '',
                    titulo: '',
                    alumno_id : this.usuario_id,
               },
               form_errors: [],
          }
     },

     methods: {
          agregar: function () {
               $.ajax({
                    url:  base_url + '/alumnos/data_input/',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                         this.hay_errores = false;
                         this.form_errors = [];
                    },
                    success: function (response) {
                         if(response.error){
                              toastr.error(response.mensaje, 'Hubo un error', {"closeButton": true});
                              if (response.errores) {
                                   this.hay_errores = true;
                                   this.form_errors = response.errores;
                              }
                         }else{
                              this.hay_errores = true;
                              toastr.success(response.mensaje, 'Exito', {"closeButton": true});
                              location.reload();
                         }
                    }.bind(this),
                    error: function (xhr, status) {
                         alert('Disculpe, existió un problema');
                    },
                    complete: function (xhr, status) {
                         console.log('Petición realizada');
                    }
               });
          },
          cerrar_modal: function () {
               this.title = '';
               $('#modal_crear_input').modal('hide');
         }
     },
}
</script>

<style>

</style>
