<template>
    <TarjetaBase
            estilo="success"
            icono_encabezado="fa-user"
            titulo_encabezado="Datos del cliente"/>
</template>

<script>
    import TarjetaBase from '../base/TarjetaBase.vue'

    export default {
        name: 'PedidoTarjetaMostrarDatosCliente',
        components: { TarjetaBase },
        props: {
            datos_cliente: {
                required: true
            }
        },
        data: function () {
            return {
                data: [
                    {
                        nombre: 'Nombre: ',
                        texto: this.datos_cliente.nombre,
                        icono: 'fa-user'
                    },
                    {
                        nombre: 'Email: ',
                        texto: this.datos_cliente.email,
                        icono: 'fa-envelope'
                    },
                    {
                        nombre: 'Teléfono: ',
                        texto: this.datos_cliente.telefono + ' ' + this.datos_cliente.extension,
                        icono: 'fa-phone'
                    },
                    {
                        nombre: 'Lista de precios: ',
                        texto: this.datos_cliente.lista_precios,
                        icono: 'fa-dollar'
                    },
                    {
                        nombre: 'SAE: ',
                        texto: this.datos_cliente.sae,
                        icono: 'fa-user'
                    },
                    {
                        nombre: 'Asesor: ',
                        texto: this.datos_cliente.nombre_asesor,
                        icono: 'fa-child'
                    },
                    {
                        nombre: 'Crédito: ',
                        texto: Number(this.datos_cliente.credito) == 0 ? 'Pago de contado' :  this.datos_cliente.credito + ' días',
                        icono: 'fa-credit-card'
                    },
                    {
                        nombre: 'Vigencia AP: ',
                        texto: this.datos_cliente.ap ? (this.datos_cliente.ap.fecha_caducidad ? this.datos_cliente.ap.fecha_caducidad : 'No se ha capturado vigencia') + '(<a href="' + this.datos_cliente.ap.url + '" target="_blank">Ver archivo</a>)' : 'Sin AP',
                        icono: 'fa-file'
                    },
                    {
                        nombre: 'Licencia sanitaria: ',
                        texto: this.datos_cliente.licencia_sanitaria ? '<a href="' + this.datos_cliente.licencia_sanitaria.url + '" target="_blank">Ver archivo</a>' : 'N/A',
                        icono: 'fa-file'
                    },
                    {
                       nombre: 'Tipo de Cliente: ',
                       texto: this.datos_cliente.tipo_cliente ?  this.datos_cliente.tipo_cliente : '',
                       icono: 'fa-slideshare'
                    },
                    {
                      nombre: 'Tipo de Licencia: ',
                      texto: this.datos_cliente.licencia ?  this.datos_cliente.licencia : 'Sin licencia',
                      icono: 'fa-tag'
                    },
                ]
            }
        }
    }
</script>
