<template>
    <div class="spiner-example" >
        <div class="sk-spinner sk-spinner-wandering-cubes">
            <div class="sk-cube1"></div>
            <div class="sk-cube2"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sending'
    }
</script>
<style media="screen">
     .spiner-example{
          width: 100%;
          height: 100%;
          background-color: red;
     }
</style>
