<template>
     <div>
          <div class="row">
               <div class="col-sm-12">
                    <form class="form-inline pull-right" style="margin-right: 35px;">
                         <div class="form-group">
                              Mostrar :
                              <select style="margin-left:65px;" class="form-control" v-model="range.per_page">
                                   <option :value="20" selected>20</option>
                                   <option :value="50">50</option>
                                   <option :value="100">100</option>
                              </select>
                         </div>
                    </form>
               </div>
          </div>
          <div class="table-responsive">

               <sending v-if="is_sending"></sending>

               <table id="tabla-cascaron" class="table table-sm table-striped" v-else>
                    <thead>
                         <slot name="theader"></slot>
                    </thead>
                    <tbody>
                         <tr v-if="!data.length">
                              <td class="text-center" :colspan="total_columns">
                                   Sin resultados que mostrar
                              </td>
                         </tr>
                         <slot name="tbody" :data="data" v-else></slot>
                    </tbody>
               </table>

          </div>

          <div class="text-center">
               <!-- <b-pagination :total-rows="result_count" v-model="range.paginationPage" :per-page="range.per_page" v-show="result_count >= range.per_page"></b-pagination> -->
               <paginate v-show="result_count >= range.per_page"
                v-model="range.paginationPage"
               :pageCount="count_pages(result_count, range.per_page)"
               :prev-text="'Anterior'"
               :next-text="'Siguiente'"
               :container-class="'pagination'"
               :page-class="'page-item'"
               :page-link-class="'page-link'"
               :prev-class="'page-item'"
               :prev-link-class="'page-link'"
               :next-class="'page-item'"
               :next-link-class="'page-link'"


               >
          </paginate>
     </div>

</div>
</template>

<script>
import Sending from './Sending.vue';
// import bPagination from 'bootstrap-vue/es/components/pagination/pagination';
import Paginate from 'vuejs-paginate'


import { tabla } from '../../core/Tabla.js';

export default {
     props: {
          total_columns: {
               type: Number,
               required: true
          }
     },
     name: 'tabla-cascaron',
     mixins: [ tabla ],
     // components: { Sending, bPagination },
     components: { Sending, Paginate },
     data: function () {
          return {
               range:{
                    paginationPage: 0,
                    per_page: 20
               }
          }
     },
     methods:{
          count_pages: function(conteo, por_pagina) {
               var num =  Math.ceil(conteo / por_pagina);
               if (num < 0) {
                    num = 0;
               }
               return num;
          }
     },
     watch: {
          range: {
               handler: function() {
                    console.log(this.range.paginationPage);
                    console.log(this.range.per_page);
                    Event.$emit('page-changed', [this.range.paginationPage, this.range.per_page ]);
               },
               deep: true
          }
     },
}
</script>
