<template>
    <div class="table-responsive">
        <table class="table text-center totales">
            <tbody>
                <tr>
                    <td v-if="es_para_clientes">
                        <h3>MI PEDIDO:</h3>
                    </td>
                    <td>
                        <h4 class="inline">N°. DE PARTIDAS: </h4>
                        <button type="button" class="btn btn-primary m-r-sm">{{ no_productos }}</button>
                    </td>
                    <td>
                        <h4 class="inline">SUBTOTAL: </h4>
                        <button type="button" class="btn btn-primary m-r-sm">{{ subtotal | dinero }}</button>
                    </td>
                    <td>
                        <h4 class="inline">IVA: </h4>
                        <button type="button" class="btn btn-primary m-r-sm">{{ iva | dinero }}</button>
                    </td>
                    <td v-if="tiene_descuento">
                        <h4 class="inline">DESCUENTO: </h4>
                        <button type="button" class="btn btn-primary m-r-sm">{{ monto_descuento | dinero }}</button>
                    </td>
                    <td>
                        <h4 class="inline">TOTAL: </h4>
                        <button type="button" class="btn btn-info m-r-sm">{{ total | dinero }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import { pedido_totales } from '../../core/PedidoTotales'
    import '../../core/filtros.js'

    export default {
        name: 'TablaTotales',
        props: {
            prop_productos:{
                required: true
            },
            es_para_clientes: {
                default: false
            }
        },
        mixins: [ pedido_totales],
        data(){
            return {
                productos: this.prop_productos,
                costo_envio: 0
            }
        },
        computed: {
            tiene_descuento(){
                return this.monto_descuento > 0;
            }
        },
        watch: {
            prop_productos: {
                handler: function(productos) {
                    console.log('tabla totales handler');
                    Event.$emit('totales', {
                        no_productos: this.no_productos,
                        subtotal: this.subtotal,
                        iva: this.iva,
                        descuento: this.monto_descuento,
                        total: this.total,
                        costo_envio: this.costo_envio
                    });
                },
                deep: true
            },
        },
    }
</script>

<style>
    .table-responsive{
        margin-bottom: 0;
    }
    .table.totales {
        margin-bottom: 0 !important;
        background-color: #6C9AA3;
        color: whitesmoke;
    }
    table.totales td{
        vertical-align: middle !important;
        border-top: 0 solid  !important;
    }
    table.totales td>button{

    }
    table.totales td>button:hover{
        cursor: default;
    }
    table.totales td>button:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>