<template>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Buscar</label>
                <div class="input-group">
                    <input type="text"  v-model="form.buscar" class="form-control input-md" placeholder="Nombre de producto, sustancia, fabricante o código de barras">
                    <div class="input-group-btn">
                        <button class="btn btn-md btn-primary" v-if="!form.buscar">
                            buscar
                        </button>
                        <button class="btn btn-md btn-primary" v-else @click="form.buscar = ''; form.fabricante_id = '';">
                            X
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Fabricantes</label>
                <select class="form-control" v-model="form.fabricante_id">
                    <option value="" selected>Todos</option>
                    <option :key="fabricante.id" :value="fabricante.id" v-for="(fabricante, index) in prop_fabricantes">{{ fabricante.nombre }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    import { tablaFiltros } from '../../core/FiltrosTabla';

    export default{
        name: 'ProductosFiltros',
        mixins: [ tablaFiltros ],
        props: {
            prop_fabricantes: {
                required: true
            }
        },
        data: function () {
            return {
                controller: '/invitados/get_productos',
                form: {
                    buscar: '',
                    fabricante_id: '',
                    range: []
                }
            }
        }
    }
</script>