<template>
    <tabla-cascaron :total_columns="6">
        <template slot="theader">
            <tr>
                <th>Nombre del producto</th>
                <th>Sustancia</th>
                <th>Fabricante</th>
                <th class="text-right">Precio más IVA desde</th>
            </tr>
        </template>
        <template slot="tbody" slot-scope="{ data }">
            <tr v-for="(dato, index) in data" :key="dato.id">
                <td v-text="dato.descripcion"></td>
                <td v-text="dato.sustancia"></td>
                <td v-text="dato.fabricante_nombre"></td>
                <td class="text-right"> {{ precio_producto(dato) | dinero }}</td>
            </tr>
        </template>
    </tabla-cascaron>
</template>

<script>
    import TablaCascaron from '../generales/TablaCascaron.vue';
    import '../../core/filtros.js'

    export default {
        name: 'tabla-productos',
        components: { TablaCascaron },
        methods: {
            precio_producto(producto) {
                return Number(producto.precio_3);
            }
        }
    }
</script>
