<template>
    <form method="post" action="" id="form-roles">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <h1 v-text="form.rol.nombre"></h1>
                </div>
            </div>
        </div>

        <hr style="margin-top: 0">

        <p class="m-t-15"><strong>Usuarios</strong></p>
        <div class="row">
            <div class="col-sm-4 m-b-5" v-for="permiso in prop_permisos.usuarios" >
                <label class="checkbox-inline">
                    <input type="checkbox" value="1" v-model="form.permisos[permiso.id]">
                    &nbsp;{{ permiso.nombre }}
                </label>
            </div>
        </div>
        <hr>

        <p class="m-t-15"><strong>Roles</strong></p>
        <div class="row">
            <div class="col-sm-4 m-b-5" v-for="permiso in prop_permisos.roles">
                <label class="checkbox-inline">
                    <input type="checkbox" value="1" v-model="form.permisos[permiso.id]">
                    &nbsp;{{ permiso.nombre }}
                </label>
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-sm-12 m-t-25 text-right">
                <a :href="'../'" class="btn btn-default">Cancelar</a>
                <button type="button" class="btn btn-success" :disabled="formHelper.enviando || formHelper.errores.any()" @click="enviar" v-if="$can('edita_roles', 'roles')">
                    <i class="fa fa-circle-o-notch fa-spin" v-if="formHelper.enviando"></i>
                    Guardar
                </button>
            </div>
        </div>

    </form>
</template>

<script>
    import FormHelper from '../../../core/FormHelper.js'

    export default {
        props: ['prop_rol', 'prop_permisos', 'prop_permisos_rol'],
        data: function () {
            return {
                form:{
                    rol: this.prop_rol,
                    permisos: {
                        1: false,
                        2: false,
                        3: false,
                        4: false,
                        5: false,
                        6: false,
                        7: false,
                        8: false,
                        9: false,
                        10: false,
                        11: false,
                        12: false,
                        13: false,
                        14: false,
                        15: false,
                        16: false,
                        17: false,
                        18: false
                    },
                },
                formHelper: new FormHelper(),
            }
        },
        methods: {
            enviar: function () {
                $.ajax({
                    url: '/roles/storage',
                    data: this.$data.form,
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function () {
                        this.formHelper.enviando = true;
                    }.bind(this),
                    success: function (respuesta) {
                        this.formHelper.notificacion(respuesta.error, respuesta.mensaje);
                        this.formHelper.handler_errores(respuesta.errores);
                        if(!respuesta.error){
                            window.location.replace("/admin/roles");
                        }
                    }.bind(this),
                    error: function (xhr, status) {
                        toastr.error('Intentelo de nuevo más tarde', 'Hubo un error', {"closeButton": true});
                    }.bind(this),
                    complete: function () {
                        this.formHelper.enviando = false;
                    }.bind(this)
                });
            }
        },
        mounted(){
            for (let permiso in this.prop_permisos_rol){
                this.form.permisos[permiso] = Number(this.prop_permisos_rol[permiso]) == 1 ? true : false;
            }
        }
    }
</script>

<style>

</style>
