<template>

    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th>Usuarios</th>
                    <th class="text-center"><i class="fa fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="!roles.length">
                    <td class="text-center" colspan="5">
                        Sin resultados que mostrar
                    </td>
                </tr>
                <tr v-for="rol in roles" v-else>
                    <td v-text="rol.nombre"></td>
                    <td v-text="rol.clave"></td>
                    <td v-text="rol.num_usuarios"></td>
                    <td class="text-center">
                        <button @click.prevent="edit(rol.id)"  type="button" rel="tooltip" title="" class="btn btn-info btn-link btn-sm" >
                             <i class="material-icons">edit</i>
                             <div class="ripple-container"></div>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
         name: 'tabla-roles',
        props: ['prop_roles'],
        data: function () {
            return {
                roles: this.prop_roles
            }
       },
       methods: {
           edit: function(id = false) {
                window.location.href = base_url + "roles/form/"+id;
           },
      }
    }
</script>

<style>

</style>
